[2016-03-14 18:32] ndushay opened #1 "Milestone 1 (3/25/16): get a streaming media player into sul-embed"
- not including authentication
- need exemplar public objects (video and audio) already accessioned
- may need to hardcode how some things are referenced (from DOR)
- identify what is missing (e.g. crosswalks hardcoded) for future work:
  - may need an intermediary stacks piece to handle rights
  - may need a token hand off
  - may need an intermediary thing so urls don't go to media service direc

[2016-03-14 18:48] ndushay opened #2 "identify exemplar fully accessioned public media objects"
- [x] video
- [x] audio

Must have purl pages with media.

Please provide druids and/or specific links to media files.

[2016-03-14 18:52] ndushay opened #3 "Put exemplar media files on wowza server"
Can be hardcoded for milestone 1.  (related to #1)

Related to #2 which will identify druids and files.
- file_ids in the content metadata

[2016-03-14 18:58] ndushay opened #4 "Determine how to get accessioned objects to wowza"
- can wowza use files in digital stacks?
- conventionally shelve media files in druid tree
- is contentMetadata file_id sufficient info (from purl page) or does more need to be on purl-page

Note:  we already have some shelving robot code to shelve to other places (e.g. for WARC);  we may need to do something similar for media.

Would prefer not to duplicate large objects -- maybe digital stacks c

[2016-03-14 19:03] LynnMcRae commented on #4
There has been some discussion about whether media should be partitioned in the stacks for other, operational reasons ... based primarily on their very large size and for independent space management.

[2016-03-14 20:06] ndushay opened #5 "Create an object in dor-test that can be published to purl-test to representive files on wowza"
Question:  why do we need this?  sul-embed will interact with media in a read-only way;  is this so we can experiment with the contentMetadata information from the appropriate robot????

dimensions:
- formats
- density of data
- definition level of data
- corresponding metadata

Current assumption:  we can put it on purl test and that will be adequate for testing.

Wondering about performance of p

[2016-03-14 20:24] ndushay opened #6 "Identify contentMetadata needs in public xml necessary for media streaming"
For image content, each resource has an <imageData> tag added that records image height and width, taken from jhove's technical metadata.

Will media have a similar need, either for a common <mediaData> or separate <audioData> and <VideoData>?  The criteria is what embed will need to create the proper experience when instantiating the embed viewer -- duration? encoding? etc.  It would also be data

[2016-03-14 20:34] hannahfrost opened #7 "Create script to support reporting for Riverwalk Jazz license"
See: https://jirasul.stanford.edu/jira/browse/DEVQUEUE-24

[2016-03-14 20:52] ndushay commented on #3
non-flash based initial content

[2016-03-14 23:52] #1 closed, assigned to nobody

[2016-03-16 20:54] hannahfrost commented on #2
audio: https://purl.stanford.edu/bb051hp9404
video: https://purl.stanford.edu/bb582xs1304

Each of these are exemplary, because:
- the audio object includes an MP3 that represents our typical file specs. It should be streamable by Wowza as is.
- the audio object includes a PDF transcript, which is not uncommon for oral history audio objects and we'll need to eventually find a way to handle in sul-

[2016-03-16 20:55] #2 closed, assigned to hannahfrost

[2016-03-31 20:27] ndushay commented on #5
From #2:

audio: https://purl.stanford.edu/bb051hp9404
video: https://purl.stanford.edu/bb582xs1304

Each of these are exemplary, because:
- the audio object includes an MP3 that represents our typical file specs. It should be streamable by Wowza as is.
- the audio object includes a PDF transcript, which is not uncommon for oral history audio objects and we'll need to eventually find a way to hand

[2016-03-31 20:31] peetucket opened #8 "Connect video player to actual content (via public XML)"
Pulling content from wowza server

Inform #6

[2016-03-31 20:35] hannahfrost opened #9 "evaluate streaming file encoding specifications"
SMPL staff currently create derivatives that should be streamable by Wowza. We'll start by using those. Yet eventually we will want to evaluate the encodings with a player or players and under different network/delivery scenarios.

Encoding specs currently used by Avalon (with Adobe Streaming Server, not Wowza): https://wiki.dlib.indiana.edu/display/VarVideo/Avalon+Derivatives

[2016-03-31 20:41] ndushay commented on #6
closed in favor of sul-dlss/sul-embed#525

[2016-03-31 20:41] #6 closed, assigned to nobody

[2016-03-31 20:43] ndushay commented on #8
closed in favor of sul-dlss/sul-embed#526

[2016-03-31 20:43] #8 closed, assigned to nobody

[2016-03-31 20:51] ndushay commented on #7
From JIRA ticket:

As of Jan 2016, there are new SoundExchange reporting requirements for SUL related to our statutory license as a noncommercial webcaster of the Riverwalk Jazz collection online. We now are required to prepare monthly reports on the number of “performances” of each song ie, each time a particular song is streamed.

We can achieve this by developing a script capable of interrogati

[2016-03-31 20:52] ndushay commented on #7
Note:  Rob Smith wrote the code to write the logs;  it may make sense to look at Rob's script / talk to Rob / edit Rob's script.

It is probably useful to keep the overall processing the same

[2016-04-01 19:04] ndushay commented on #7
from conversation with Geoff (@oceanofsound):
- The raw files live /var/log/ezstream directory on libstream VM.
  - These files are created by a script written by @rsmith11.
- Geoff downloads the relevant dates, then fusses to get the show numbers from each channel
  - for `<body>1,1,22,unlimited,-1,, - Show Number 067<br />1,1,20,unlimited,-1,, - Show Number 371<br /></body>` :  channel 1  is sho

[2016-04-01 19:09] ndushay commented on #7
@oceanofsound @hannahfrost  questions
-  the log files are HOURLY, per day
  - how are they named / organized on the server?
- will the reporting needs always be monthly?   (should the script assume monthly or take user inputs for time frame)

[2016-04-01 19:18] ndushay commented on #7
“You want to know how frequent the log files are?  Let me tell you about log files.  I have been very successful with log files.   Log files love me.  I am an expert on log files. We are going to have so many log files, you’ll be sick of log files."

[2016-04-01 19:23] oceanofsound commented on #7
![lovely_logs](https://cloud.githubusercontent.com/assets/1029087/14217719/94f5d5ca-f804-11e5-8c88-f46733ff6ec8.png)

[2016-04-01 19:24] oceanofsound commented on #7
reporting needs will be monthly, unless SoundExchange changes their reporting requirements again

[2016-04-01 19:28] ndushay commented on #7
do they change their reporting requirements often?

[2016-04-01 20:02] oceanofsound commented on #7
I think we're good until 2020: http://www.soundexchange.com/service-provider/commercial-webcaster/commercial-webcaster-crb/

[2016-04-04 18:16] ndushay commented on #5
Is this a @hannahfrost  thing?   I'm not sure I know how to do this - does anyone else?

[2016-04-04 18:18] jkeck commented on #5
I believe @LynnMcRae and @hannahfrost were going to work on this.

[2016-04-04 18:38] ndushay commented on #7
libstream box:

[code]

Looks like we can write the script in:
- ruby (v1.8.7!)
- shell script
- python

[2016-04-05 21:54] peetucket opened #10 "Images with multiple file types that require multiple viewers should be supported"
A mixed media object (e.g. video and images) that allows both types of media to have different viewers should be displayable without just presenting download links for the files.

[2016-04-05 21:56] peetucket commented on #10
closed - now sul-dlss/sul-embed#530

[2016-04-05 21:56] #10 closed, assigned to nobody

[2016-04-05 22:14] peetucket opened #11 "Questions: how does authorization tie into Wowza server?"
When a user requests an image from the image stacks, a check against rights metadata is performed to determine their access rights.  If access is granted, the image is then retrieved and passed along to the user's browser.

Something similar needs to occur with media from the Wowza server.  Instead of having the media file stream directly from Wowza to the embedded video player, there needs to be

[2016-04-06 00:49] hannahfrost commented on #11
Related user stories:
https://jirasul.stanford.edu/jira/browse/MEDIAINFRA-32
https://jirasul.stanford.edu/jira/browse/MEDIAINFRA-33
https://jirasul.stanford.edu/jira/browse/MEDIAINFRA-28 - This one suggests that auth may be required for the streamed media but not for the associated non-media files. How does that work?
https://jirasul.stanford.edu/jira/browse/MEDIAINFRA-9 - Where the user is a digi

[2016-04-06 21:17] jkeck opened #12 "Anaylze storage options for media content accessible to wowza server"
can end user download and streaming be off the same copy?

will it scale?

[2016-04-06 21:36] ndushay opened #13 "Profile media objects"
We'd like to have a sense of ALL TEH MEDIA, thinking about characteristics such as:
- format(s)
- number of a/v files per object
- dimensions (e.g. 640 x 480;  1080p or 1080i or ...)
- aspect ratio
- bit-rate
- file size
- accessioning state (fully accessioned, registered, waiting for xxx, have on site but not yet digitized, digitized but not accessioned, don't have it yet but expecting it ...)
-

[2016-04-06 21:38] ndushay opened #14 "UX: What to display when streaming is forbidden?"
e.g.  thumbnail?   mechanism for users to request access if they don't already have it?

presumably sul-embed already has a mechanism to tell users to log in??

@jkeck believes there may be some design work sketched out somewhere?

[2016-04-06 21:42] LynnMcRae commented on #12
implicit in this question is whether Wowsa can work off whatever file path (i.e. druid tree) and filename we give it as file location.

[2016-04-06 21:42] ndushay opened #15 "Create user stories for shelving media content"
"Lynn will add user stories [in JIRA?] for shelving media content"

[2016-04-06 21:50] LynnMcRae commented on #14
I think this applies to the gentler use case of showing something (thumb, keyframe, placeholder) for, say, Stanford-only access before the user has authenticated, assuming the video would otherwise be "queued up" and ready to play.  I can't claim to know if I am painting this picture correctly.

[2016-04-06 22:07] LynnMcRae opened #16 "Determine if media should be partitioned in the stacks"
Assuming both streaming and download use the same copy of a file in the Digital Stacks (see #12), will streaming delivery require or benefit from shelving media files to a separate partition for performance or scale reasons?

We have the ability in shelving to partition files based on content type, which we use to co-locate Web Archiving files together for Time Machine. But those files do not need

[2016-04-06 23:03] ndushay commented on #7
@oceanofsound   Code is deployed on libstream.  I have tested it and it works.   The instructions will be in the README here:  https://github.com/sul-dlss/rwj_reporting   after I get a couple more pull requests merged.  For now, here they are:

# Usage
1. log in to libstream box as media user
2. `cd rwj_reporting/current`  (end up in `home/media/rwj_reporting/current`)
3. `rake reports[160301,1603

[2016-04-06 23:23] peetucket opened #17 "Create overview documentation on avalon auth"
How does avalon auth work?  How does wowza auth work?

[2016-04-06 23:25] peetucket commented on #12
Analyze how Wowza performs with content mounted via different mechanisms (nfs mount vs AWS vs local) and report on performance.

[2016-04-06 23:28] peetucket opened #18 "Evaluate performance of AWS as storage for media content"

[2016-04-06 23:28] peetucket opened #19 "Evaluate performance of nfs as storage for media content"

[2016-04-06 23:29] peetucket opened #20 "Evaluate performance of local storage for media content"

[2016-04-06 23:29] peetucket opened #21 "Evaluate performance and URL rewriting for storing content in a druid tree folder format"

[2016-04-06 23:30] peetucket commented on #12
split into #18, #19, #20, #21

[2016-04-06 23:30] #12 closed, assigned to nobody

[2016-04-06 23:34] ndushay commented on #20
Possibly diff ways to use local storage.

Possibly Carrick can be helpful

[2016-04-06 23:39] peetucket commented on #11
- Can we construct a token for Wowza so it can tell if it stream or not?
  alt:  Avalon might have some middleware they use to pass a token to and get a list of accessible files in return (?)
- How does Stanford’s auth work?   JK can speak to this
- How does existing auth work for image stacks auth work?   LM / ….   can speak to this
- is there a diff between media stacks authzn and image stacks a

[2016-04-07 04:46] ndushay commented on #7
@jmartin-sul and I have completed this.

[2016-04-07 04:46] #7 closed, assigned to ndushay

[2016-04-07 22:42] ndushay commented on #19
There are nfs mounts for  prod and stage wowza servers  in   /data  directory

[2016-04-08 17:41] ndushay opened #22 "test migration from sul-streaming to wowza: handful of files"
Get a few files from the sul-streaming server onto the wowza server, just to ensure we can get them and that the formats will work, etc.

from @oceanofsound:

some files from the old streaming server that are world accessible,
- University Archives content would be the way to go.
- They’re on sul-streaming, username=media.
- path is /usr/local/wow/content
- the UA stuff is all in
  - ‘scXXXX’ fold

[2016-04-08 17:43] ndushay commented on #22
Julian has hooked me up with access to media account on sul-streaming, and will get the other developers too.  sul-streaming box predates puppet!

[2016-04-11 18:24] LynnMcRae opened #23 "Update DOR indexing app to latest DOR Services"
This addresses a loss of role based permissions in Argo based on an indexing discrepancy, see https://github.com/sul-dlss/argo/issues/725

[2016-04-11 21:44] peetucket opened #24 "Anaylsis of how wowza media cache can be used to optimize performance"
What are the expiry options?
- [ ] Can we have usage based expiry (I.e. most commonly used remain in cache)?

[2016-04-11 21:45] peetucket opened #25 "Analysis of variable rate encoding strategy"
- [ ] Are there tools to automate the process of creating multiple derivatives?
- [ ] How do we create SMIL files?
- [ ] How does these variable rate encoded files co-exist with older static bit rate encoded files?

[2016-04-13 05:55] ndushay commented on #17
Tommy did a diagram and we had a discussion.  The diagram is in the sul-dlss/media  wiki pages.  I'm going to close this because I think it's done.

[2016-04-13 05:55] #17 closed, assigned to tingulfsen

[2016-04-13 19:06] #23 closed, assigned to jmartin-sul

[2016-04-13 20:15] ndushay commented on #11
We had a discussion and roughed out a design to prototype.  See https://github.com/sul-dlss/media/wiki/Authentication-discussion-April-12,-2016---Images

[2016-04-13 20:17] ndushay commented on #24
See https://github.com/sul-dlss/media/wiki/Wowza-Media-Cache  for some notes.

[2016-04-14 21:54] #3 closed, assigned to tingulfsen

[2016-04-14 22:10] peetucket opened #26 "Implement creation of media tags in contentMetadata"
This will likely get implemented in the robot framework.  We need to create media specific metadata into contentMetadata necessary for embed player to work correctly.

[2016-04-14 22:15] #11 closed, assigned to nobody

[2016-04-14 22:15] ndushay commented on #5
@LynnMcRae wants to be sure that @hannahfrost is comfortable with us closing this ticket now;   we think we can use prod purl videos for testing, and when we are working on accessioning issues they will be ticketed separately.

[2016-04-14 22:15] LynnMcRae opened #27 "Add <audioData> and <videoData> tags to contentMetadata schema"
Like <imageData> these will convey necessary information to Purl for use in Embed delivery of these resources.   Initial content will be dimensions and duration.

[2016-04-14 22:24] LynnMcRae opened #28 "Rights metadata - specify schema extensions for location-specific access"
Determine syntax and strategy for implementing location specific rights.

Proposed rightsMetadata syntax -- a simple <location> designation -- can be found at https://consul.stanford.edu/display/chimera/Rights+metadata+--+the+rightsMetadata+datastream

Implementation would require mapping a named reference, e.g., SpecReadingRoom, to an implementation that is specific to that location. Ideally it w

[2016-04-14 22:48] peetucket opened #29 "Create wowza media authorization token module"
Wowza plugin - in java ?

Even though it is a java class, it should be tested, added to travis, have a git repo, etc.

[2016-04-14 22:53] peetucket opened #30 "Create wowza module/plugin to confirm validity of tokens from stacks"
Wowza plugin that evaluates the validity of a token provided in the request

it should confirm the token is valid

[2016-04-14 22:55] peetucket opened #31 "Adjust default token and connection timeouts"
ensure player allows access after a pause and seek operation and then expiration of a token (short time to live) does not cause issues

[2016-04-14 22:57] peetucket commented on #31
What the correct time out period?
Should the token work until first viewed or does the time out period begin upon creation?
Can we tie the token to the session?

[2016-04-14 23:13] peetucket commented on #31
to have a full end to end test, we need the whole stack operational

[2016-04-14 23:16] ndushay commented on #30
This would be in java;  we would want a git repo, tests, travis, a release and deploy strategy

[2016-04-14 23:16] #29 closed, assigned to nobody

[2016-04-14 23:16] peetucket commented on #29
duplicate of #30

[2016-04-14 23:20] LynnMcRae commented on #15
This will follow any determination that media needs to be shelved in a special place for any reason, such as streaming performance,

[2016-04-14 23:23] peetucket commented on #21
related to #19

[2016-04-14 23:23] peetucket commented on #19
may be able to do concurrent with #21

[2016-04-18 23:50] jmartin-sul commented on #22
i tested this with a handful of the sample mp3 and flv files which were recommended above (copied from sul-streaming to sul-wowza-stage, and served from sul-wowza-stage's NFS mount).  i found that the mp3 files played fine in both the adobe RTMP and the adobe HDS player, as long as mp3 was specified as the desired format (e.g., `mp3:sc0359/vq083my4984_b_sl.mp3`).  the flv files played fine in the

[2016-04-19 18:32] hannahfrost commented on #22
I think this is totally expected behavior, @jmartin-sul, and I think you have covered it.

[2016-04-19 19:01] #22 closed, assigned to jmartin-sul

[2016-04-19 19:01] jmartin-sul commented on #22
great, closed, thanks for the confirmation, @hannahfrost

[2016-04-19 21:39] ndushay opened #32 "Create new github repo for wowza authorization plugin and create new tickets in repo (in description)"
Because the wowza plugins are java, we will need to:
- [x] set up wowza (java) plugins git repo and add it to waffle board.

Subtickets for:  ci and auto-deploy for authorization
- [x] figure out travis ci for java testing and coverage  (8)
- [x] figure out the capistrano equivalent to get java artifacts to correct spot on wowza server(s) and figure out what jars or other artifacts need to be buil

[2016-04-19 21:40] tingulfsen commented on #19
I'm closing this ticket with reference to https://github.com/sul-dlss/wowza_load_tester

John, Naomi and I did some basic load testing to see how long it takes for a video to start playing when loaded via an NFS-mounted directory, and the load times we saw seemed completely reasonable.

[2016-04-19 21:40] #19 closed, assigned to tingulfsen

[2016-04-19 21:46] ndushay opened #33 "sul-embed plays media from wowza via stacks url - Tracer Bullet"
For a single format, like hls or mp3, prove that sul-embed can take an html video or audio tag with a stacks url, and stacks can do the right thing so embed plays the streaming media from the wowza server.

Secondary point (perhaps should be a separate ticket):  prove that stacks authentication is working.

NOT part of this ticket:
- token passing from stacks to wowza  (wowza is wide open)
- getti

[2016-04-19 21:50] peetucket commented on #9
Questions to be ansewered:
- [ ] what formats do we need to support (audio and video)
- [ ] how many and what derivatives do we need to generate (depends on if we are we supporting variable rate streaming)
- [ ] how many download variants do we need to generate

[2016-04-20 17:49] LynnMcRae commented on #27
Initial specification added to consul page https://consul.stanford.edu/display/chimera/DOR+content+types%2C+resource+types+and+interpretive+metadata

[2016-04-20 17:50] LynnMcRae commented on #27
This essentially creates and confirms the use of an <audioData> and <videoData> tag in parallel to <imageData> as the means of conveying essential resource-type-specific facts about a file to embed as needed to shape the delivery experience. We are starting with "height", "width" and "duration". Further specification of attributes determined to be needed will be separate future tickets.

[2016-04-21 20:31] peetucket opened #34 "Create media we can use for testing in stacks-test"
Accession 4 objects available in stacks-test/purl-test for testing media player and authentication.

2 audio (mp3), 1 each world and stanford only
2 video (mp4), 1 each world and stanford only

example mp4 = https://purl.stanford.edu/bd786fy6312 and https://purl.stanford.edu/bb582xs1304

example mp3 = https://purl.stanford.edu/bb051hp9404 and https://purl.stanford.edu/cc340qm0511

example mov if n

[2016-04-22 00:15] ndushay commented on #33
We got this working in locally running branchs of sul-embed and digital_stacks_rails  code;   next steps are to work on bringing the code up to deployable standards, adding the other formats, and deploying it for the iteration demo.

[2016-04-22 00:15] #33 closed, assigned to ndushay

[2016-04-22 00:27] ndushay commented on #34
I think this may duplicate #5 ??

[2016-04-22 00:29] ndushay commented on #5
Closing in favor of #34

[2016-04-22 00:29] #5 closed, assigned to nobody

[2016-04-22 17:01] peetucket commented on #34
Yes, @ndushay this sounded like a dupe of #5 to me too, though I thought #5 involved creating some hand-crafted, organic, grass-fed contentMetadata?  Or is that not necessary anymore?

[2016-04-22 17:21] ndushay commented on #34
dunno.  We can always ticket anew for that?  or you can reopen and revise #5

[2016-04-22 17:31] #27 closed, assigned to LynnMcRae

[2016-04-22 17:31] #28 closed, assigned to LynnMcRae

[2016-04-22 17:36] blalbrit commented on #34
Okay @ndushay and @peetucket - should I work this or not?

B.

[2016-04-22 17:44] ndushay commented on #34
@blalbrit yes, please, by all means.  We are talking about OTHER tendrils.

[2016-04-23 00:07] hannahfrost opened #35 "checksum script: update (to ruby v2.x) and fix"
https://jirasul.stanford.edu/jira/browse/DEVQUEUE-33

which starts:

https://github.com/sul-dlss/checksum-tools

Old software originally written by Michael Klein, but still in daily use by SMPL staff. The 1.8.7 requirement is a little annoying, however we've dealt with it up until now. Not being able to remotely generate and verify checksums on the sul-smpl volumes is a little more of a deal break

[2016-04-25 17:22] blalbrit commented on #34
https://argo-stage.stanford.edu/catalog?f%5Bexploded_tag_ssim%5D%5B%5D=Project+%3A+Media+Fixture+Objects&page=1

[2016-04-25 17:22] blalbrit commented on #34
@peetucket - go ahead and close if this satisfies.

[2016-04-26 00:20] ndushay commented on #34
@blalbrit   would you please also do the same for  https://purl.stanford.edu/bb879jv3823  ?

[2016-04-26 06:49] blalbrit commented on #34
done - added to Media Fixture Objects accessible from link above.

[2016-04-26 06:49] #34 closed, assigned to blalbrit

[2016-04-26 23:05] ndushay commented on #21
Tommy, you did this, yes?  If so, feel free to close the ticket.

[2016-04-27 15:50] tingulfsen commented on #21
URL rewriting has been evaluated and found to work well. However, we have decided that the Digital Stacks will simply redirect to the fully expanded DRUID path on the Wowza server, so no URL rewriting is required.

We did a quick evaluation of player speed when streaming from an NFS mounted directory (see sul-dlss/wowza_load_tester), and found the performance to be adequate.

[2016-04-27 15:50] #21 closed, assigned to tingulfsen

[2016-04-27 17:35] jkeck opened #36 "Add support for AUDIO streaming on non-safari browsers"
We'll be using DASH for video, but we'll need to find a solution for audio.

[2016-04-27 18:49] jkeck opened #37 "Check to see if wowza's token authentication blocks unauthorized requests for media segments"
The module we're adding to Wowza will intercept stream requests (playlist.m3u8 and manifest.mpd) and validate the token passed (by the stacks redirect).

We need to validate if this mechanism prevents users who can deduce how to request the file segments directly from downloading them w/o proper authorization by stacks.

[2016-04-27 19:05] ndushay commented on #18
I had a conversation with @eefahy about this.  Documented in the wiki:  https://github.com/sul-dlss/media/wiki/AWS-possibilities

[2016-04-27 21:16] peetucket commented on #20
I am not sure we still need this - assume we are storing content on stacks.

[2016-04-28 00:12] hannahfrost opened #38 "Test aliasing sul-streaming links"
Towards the goal of migrating off of sul-streaming (old wowza): we need to test if we can alias the links to content on NEW wowza that has been migrated from OLD wowza so that the published links out in the world can gracefully resolve to the new server.

If this works, then we can move off the old box more quickly, and then develop a plan for updating the links over time.

Task:
- [ ] move some s

[2016-04-28 00:51] hannahfrost opened #39 "Test shadownet with AFS ports blocked for reading room access to content"

[2016-04-28 20:21] #13 closed, assigned to nobody

[2016-04-28 20:27] peetucket opened #40 "Document essential codec formats"

[2016-04-28 20:33] peetucket opened #41 "Create new github repo for wowza authorization plugin"

[2016-04-28 20:35] #41 closed, assigned to nobody

[2016-04-28 20:36] peetucket commented on #41
dupe of #32

[2016-04-28 20:53] peetucket opened #42 "Allow users to receive a webauth challenge for restricted media"
Users who try to view a restricted media file (e.g. Stanford only) should receive a webauth challenge - TBD.

Probably will require work in both sul-dlss/sul-embed   sul-dlss/digital_stacks_rails ... and that work will be ticketed separately.

[2016-04-28 20:57] ndushay commented on #35
@mbklein!!!!!!!!!!!!

[2016-04-28 21:20] ndushay commented on #38
talk to devops re:  the aliasing piece.  We know we can do directories in wowza.

rights issues for any of this content?

[2016-04-28 21:55] hannahfrost commented on #38
@ndushay 99% of the content on sul-streaming is unrestricted access. There is a small tranche of material that is Stanford-only (we hacked a way to support that in Drupal)

[2016-04-28 22:34] LynnMcRae opened #43 "Argo/DOR object purge no longer deletes the solr doc"
This is a proxy ticket for https://github.com/sul-dlss/argo/issues/728

Need to diagnose problem, then fix if small else recommend fix for future ticket

[2016-04-28 22:38] LynnMcRae opened #44 "Argo - Metadata Upload Fails on Large Numbers of Objects"
This is a proxy ticket for https://github.com/sul-dlss/argo/issues/731

The cause of the problem still needs to be determined, then fixed (if small) else a recommended fix for a followup ticket.

[2016-04-28 22:41] LynnMcRae opened #45 "Argo - Add check for null in the controller for bulk upload"
This is a proxy ticket for https://github.com/sul-dlss/argo/issues/734

A check for missing log files might be a simple short term fix if it allows users access to the upload screen.  The cause of the missing log files might also get fixed but can be deferred to a future ticket if necessary.

[2016-04-28 22:43] LynnMcRae opened #46 "Argo - MJF bulk upload failing"
This is a proxy ticket for https://github.com/sul-dlss/argo/issues/735 but may be closely related to #44

[2016-05-03 18:51] ndushay commented on #30
This ticket has been split into:
- #41
- sul-dlss/dlss-wowza#1
- sul-dlss/dlss-wowza#2
- sul-dlss/dlss-wowza#4
- sul-dlss/dlss-wowza#5

@peetucket  do you want to close this one as a dup?   I have put estimates on the other tickets ...

[2016-05-03 18:58] peetucket commented on #30
closed due to being split into issues above

[2016-05-03 18:58] #30 closed, assigned to nobody

[2016-05-03 19:45] LynnMcRae commented on #38
Some hints on the streaming part syntax of the sul-streaming URL with this view of the page source serving one.  Do we need to rehost the page that presents the flash player as well, since it shares a host name with the streaming?

https://sul-streaming.stanford.edu/collections/hershman/war/antoni_2006.html, an iframe within https://lib.stanford.edu/women-art-revolution/janine-antoni

[code]

[2016-05-03 20:00] LynnMcRae commented on #38
A Bucky Fuller example ... https://collections.stanford.edu/bucky/bin/mediaplayer?fileID=157138371X&n=1

Here there is no iframe intermediate source of the html... from View Source

[code]

[2016-05-03 21:30] #32 closed, assigned to tingulfsen

[2016-05-03 23:56] jkeck opened #47 "Get SSL certs for Wowza servers"
MPEG-DASH clients will request the manifest.mpd via asynchronous javascript requests.  Since nearly all of our discovery environments are SSL only (e.g. requests to http get automatically redirected to https) this will cause mixed content warnings on all modern browsers, which blocks the content from being displayed.

Given this, we'll need SSL certs on our wowza servers.  I'm not 100% sure what e

[2016-05-04 00:23] ndushay commented on #47
SAR-3157 created

[2016-05-05 00:31] jkeck commented on #35
I have released a [beta version of checksum-tools](https://rubygems.org/gems/checksum-tools/versions/1.2.0.beta1) with support for Ruby2 and remote authentication via password for testing by SMLP.

Testing will continue Friday, and will table this until then.  If all goes well, we'll simply drop the `beta` version and release a legitimate 1.2.0.

[2016-05-05 21:24] ndushay commented on #38
Spoke to Erin at lunch today.   If the urls are all to the _viewer_ code, which also lives on the sul-streaming box, then it's more complex than setting up the aliasing for the actual _content_ on sul-streaming to the same content copied to our new wowza box  (sul-mediaserver-prod).

Our initial take was:
- it is feasible to put content on the new wowza box and do a regex proxy with our proxy serv

[2016-05-05 21:43] LynnMcRae commented on #38
I believe the URLs to the actual content are the rmtp://sul-streaming ones embedded in the presentation of the player you get from the https calls. If so, only those rmtp calls might need to be redirected to a new host. That would not affect how collection.stanford.edu presents the player or any bookmarks users might have.  But since I can only report net behavior in the browser, I can't answer ho

[2016-05-05 22:45] ndushay commented on #38
where does the _viewer_ live?   Seems like it lives on sul-streaming??

[2016-05-06 02:47] jkeck commented on #37
However we end up solving this, we'll need to keep in mind that a users IP could potentially change mid-stream (e.g. walking out of wifi range to a cell tower).

[2016-05-06 18:12] ndushay opened #48 "Web Archiving: understand current accessioning issues"
Meeting with Darren Hardy to understand what the issues are, and what the anticipated solution is, and the plan to fix it.

[2016-05-06 18:14] hannahfrost commented on #38
@ndushay Yes, everything for the older streaming content lives on sul-streaming
A user is presented with the content via a HTML page, e.g., https://sul-streaming.stanford.edu/collections/hershman/war/antoni_2006.html

And the URLs are used several places. I have a document that addresses that. See: https://docs.google.com/spreadsheets/d/1xOcpTQm44h_2KdZURsmijmdCsxyqI4YHC23PZnMXm2Q/edit#gid=0

[2016-05-06 18:18] jkeck opened #49 "SUL Requests Work"
- [ ] Adjust sort on archived mediated pages (sul-dlss/sul-requests#508)
- [ ] Allow for the configured mediator email to receive notifications of mediated pages (sul-dlss/sul-requests#505)

[2016-05-06 18:45] ndushay opened #50 "Confirm sul-streaming migration tech details with devops"
Note that separate tickets will be created to do the actual work.  This ticket is about confirming our approach with devops.

Per #38:

We believe the migration off sul-streaming will be:
- migrate existing content from sul-streaming to sul-wowza-prod
- new VM for hosting the current html landing point
  - flash player for video
  - ensure we have way for flash player to get to content on sul-wowz

[2016-05-06 18:59] ndushay commented on #38
This has been closed in favor of #50.   This ticket was really about assessing the viability of the approach.  It was a little more complex than just aliasing the streaming content, but we believe the approach outlined in #50 is probably viable.

[2016-05-06 18:59] #38 closed, assigned to ndushay

[2016-05-06 19:32] ndushay commented on #50
We need to know what the requirements are re: the non-world visible content. How does it work now?   Can we easily add what we need to gate that content to the new VM?

[2016-05-06 20:04] ndushay commented on #50
example of a streaming collection that’s stanford only: https://lib.stanford.edu/philosophy-talk/streaming-audio

[2016-05-09 20:36] #35 closed, assigned to jkeck

[2016-05-09 20:37] jkeck commented on #35
[checksum-tools v1.2.0](https://rubygems.org/gems/checksum-tools/versions/1.2.0) has been released.

[2016-05-09 21:39] LynnMcRae opened #51 "Determine strategy for audio and video thumbs"
Thumbnails provide a visual reference for objects and greatly enhance a users experience when scanning items online, especially if they aid in recognizing a particular item.  Thumbs are used in the "filmstrip" representation of items in a collection and accompany each item in a search result in Searchworks.

Unless determined otherwise, Media objects should get the same basic thumbnail treatment a

[2016-05-09 21:46] LynnMcRae opened #52 "Support for keyframes for video"
There are two contexts where control over key frames from a video are useful. One is as a source for thumbnail representations of the video ... in a search result of collection filmstrip of members. See #51. The other is perhaps the image shown in the player prior to pressing play or prior to authentication. There are several questions covered by this ticket:
1. What support is there for extractin

[2016-05-10 19:36] #49 closed, assigned to jkeck

[2016-05-11 18:35] ndushay commented on #48
email from @drh-stanford

[code]

[2016-05-11 18:35] #48 closed, assigned to ndushay

[2016-05-11 21:53] peetucket opened #53 "Talk to Avalon team about support for audio streaming"
fallback to Flash

[2016-05-12 17:16] LynnMcRae commented on #16
Closing this since we have answered the question for this sprint and find no structural/technology reason to partition the stacks.  If it comes up again for performance or growth reasons, we'll have new more specific tickets.

[2016-05-12 17:16] #16 closed, assigned to nobody

[2016-05-12 17:18] LynnMcRae commented on #15
No special shelving requirements for media, closing...

[2016-05-12 17:18] #15 closed, assigned to LynnMcRae

[2016-05-12 20:45] ndushay commented on #43
PR at https://github.com/sul-dlss/argo/pull/744

[2016-05-12 20:47] ndushay commented on #45
PR for this https://github.com/sul-dlss/argo/pull/742

[2016-05-12 20:47] #44 closed, assigned to tingulfsen

[2016-05-12 20:47] #46 closed, assigned to tingulfsen

[2016-05-12 21:50] jkeck opened #54 "Accession sample special collections media objects to test/stage"

[2016-05-13 02:49] LynnMcRae opened #55 "Design location based authorization for media"
This is a story to capture the strategy for support and to identify the various tickets across other projects that are involved. Syntax for recording location restrictions have been specified in #28. This story covers the implementation of those rights.

We are planning a first implementation that is based on mapping a named location in rightsMetadata to an associated set of whitelisted IP-address

[2016-05-17 18:59] LynnMcRae opened #56 "Add explicit keyframe/thumb support to media resource model"
The base model for a resource of type=audio or video is just a recognized media file.  Extend the resource model for these to include a .jp2 file that can be used as a keyframe for a video before play, as background image for audio, for use in the resource index in embed.

[2016-05-17 19:13] ndushay commented on #50
Spoke with @eefahy  (myself, @jmartin-sul, @tingulfsen).   Summarizing:
- the html landing point (the player) may be able to be a file on a VM, rather than requiring a separate VM.
- appropriate regex aliasing could be set up as needed.

Note that we still need to:
- ensure we have way for flash player to get to content on sul-wowza (CORS header? aliasing media links on sul-mediaserver on the new

[2016-05-17 19:16] ndushay commented on #50
If I correctly captured the result of the conversation with Erin, we should figure out what the remaining open questions are, if any.   After that, we should ticket the actual work and prioritize it with other work.

[2016-05-17 20:28] ndushay commented on #55
Is this an implementation ticket or a design the implementation ticket?   Also, is it now to be closed in favor of other tickets for steps of the work?

[2016-05-17 20:58] LynnMcRae commented on #55
Items 1 and 2 have been done (though refinement of location information will continue) and the other 3 have their own tickets now.

[2016-05-17 20:58] #55 closed, assigned to LynnMcRae

[2016-05-18 17:10] LynnMcRae commented on #56
I have added this to the contentMetadata model in consul -- https://consul.stanford.edu/display/chimera/DOR+content+types%2C+resource+types+and+interpretive+metadata

[2016-05-18 23:30] ndushay commented on #47
you saw the latest from Rob, yes?

[code]

[2016-05-19 00:19] jkeck commented on #47
Ah, you know, I don't think I am a watcher the JIRA ticket so I never saw that.

Thanks for the heads up!

[2016-05-19 00:21] #47 closed, assigned to jkeck

[2016-05-19 21:36] LynnMcRae commented on #43
Tested in stage, good to go.

[2016-05-19 21:36] #43 closed, assigned to jmartin-sul

[2016-05-19 21:37] LynnMcRae commented on #45
Related ticket close, change is good to go.

[2016-05-19 21:37] #45 closed, assigned to jmartin-sul

[2016-05-20 18:17] peetucket commented on #54
https://jirasul.stanford.edu/jira/browse/LEGACY-2378

[2016-05-20 18:42] #50 closed, assigned to ndushay

[2016-05-20 18:43] #56 closed, assigned to LynnMcRae

[2016-05-20 18:50] hannahfrost commented on #56
looks good to me, @LynnMcRae

[2016-05-20 18:51] #4 closed, assigned to nobody

[2016-05-20 18:51] peetucket commented on #4
Reading straight from the stacks - this ticket is no longer needed.

[2016-05-20 18:55] #20 closed, assigned to nobody

[2016-05-20 18:56] #9 closed, assigned to nobody

[2016-05-20 19:03] ndushay commented on #31
blocked by sul-dlss/dlss-wowza#2

[2016-05-20 19:12] ndushay opened #57 "decommission argo-test VM"
proxy ticket for sul-dlss/argo#681

argo-test  is the argo2 test environment.  The cutover to argo3 happened early March 2016;  after an appropriate wait time (to allow comparisons of search behavior between old and current, for problem resolution), this argo instance and its Solr index can be removed.
- [ ] get rid of argo_test VM (and nagios monitoring) (https://jirasul.stanford.edu/jira/browse/

[2016-05-20 19:13] ndushay opened #58 "decommission argo-prod VM"
proxy ticket for sul-dlss/argo/issues/682

argo is the argo2 production  environment. The cutover to argo3 happened early March 2016; after an appropriate wait time (to allow comparisons of search behavior between old and current, for problem resolution), this argo instance and its Solr index can be removed.
- [x] get rid of argo VM   (and nagios monitoring)  (https://jirasul.stanford.edu/jira/bro

[2016-05-20 19:32] ndushay opened #59 "puppet for plugin deployment"
Once we have jenkins building the versioned wowza plugin jar artifact, we need puppet code written to deploy the jar from jenkins artifact to sul-wowza box (in correct directory).

[2016-05-23 22:05] ndushay commented on #59
https://jirasul.stanford.edu/jira/browse/SAR-3165

[2016-05-23 22:17] ndushay commented on #59
hmm - it looks like we _may_ need to restart the entire wowza server, not just an application:   https://www.wowza.com/forums/showthread.php?7763-Update-custom-modules-without-restarting-Wowza

[2016-05-24 18:44] ndushay opened #60 "sign up for wowza "silent install" option"
We need to "sign up" for this with wowza to allow fully automated/puppetized wowza setup.   We are not blocked by this at this time, but it would be helpful to devops to get this.

@hannahfrost has this on her list.

[2016-05-24 23:33] ndushay commented on #59
Rob wrote a draft of the puppet code in a branch and it works.  Will close this when SAR-3165 is closed.

[2016-05-25 18:14] ndushay commented on #59
puppet code is working so this is done!  yippee!

[2016-05-25 18:14] #59 closed, assigned to ndushay

[2016-05-25 18:18] ndushay opened #61 "Do a full purl/embed end-to-end test for wacko chars in filename"
if there is a way to automate this, that would be great.

We'd settle for manual testing proving that purl / embed / stacks / wowza works with filenames with weird chars.   Probably worth checking all of these:
- [ ] file (download)
- [ ] image (view)  (it's the identifier here, not the filename)
- [ ] media (stream)
- [ ] media (download)

@LynnMcRae created test data (such as fq961jm6386);

plea

[2016-05-25 18:32] ndushay opened #62 "(see argo PR!) add gemnasium, code climate, code coverage badges to argo"
hook up services and put badges in README

[2016-05-25 20:29] peetucket opened #63 "Investigate and remediate Feigbenbaum content to determine why some dates are wrong and fix from source spreadsheet"
1. Check all of the dates between spreadsheet and SDR (solr query to get current values, compare with CSV).
2. Identify which ones are different, create new CSV with correct date values
3. Remediate SDR data with new dates
4. Re-index Feigenbaum exhibit

From: Scott Van Duyne scott.vanduyne@gmail.com
Date: Wednesday, May 25, 2016 at 12:11 PM
To: Peter Mangiafico petucket@stanford.edu
Subject: Re:

[2016-05-25 21:51] #42 closed, assigned to jkeck

[2016-05-25 22:04] ndushay commented on #37
We want to know what the current behavior is;  @hannahfrost  will talk to Mimi about legal issues.

[2016-05-25 22:06] ndushay commented on #31
Note that token expiry should have a relationship to the connect and read timeouts for connections from wowza to stacks

[2016-05-25 22:09] ndushay commented on #31
Set the DEFAULT token time to a reasonable number, and the connection and read timeouts, too.

[2016-05-25 22:12] ndushay commented on #31
Without load testing, we're thinking these defaults:

45 seconds chosen for token expiry
20 seconds for wowza connection timeout
20 seconds for wowza read timeout

[2016-05-25 22:41] peetucket opened #64 "Is it possible to access the wowza admin interface when not on campus and not VPNed?"
For security reasons, you should not be able to access the wowza admin interface when not on campus and not VPNed

Are passwords stored in cleartext on the server?

[2016-05-25 23:28] ndushay commented on #61
fq961jm6386

[2016-05-26 00:53] ndushay commented on #61
had trouble writing routing specs in digital_stacks_rails for  space  in filenames, and for ü.

[2016-05-26 20:51] tingulfsen commented on #64
The password file has been secured, and we've verified that you are not able to access the Wowza admin interface from outside Stanford's network.

[2016-05-26 20:51] #64 closed, assigned to tingulfsen

[2016-05-26 22:40] peetucket commented on #63
Found >5k items that don't match between SDR and the final spreadsheet.  Not sure how this happened, but have set up a remediation script to correct.  After remediating, we need to reindex.

[2016-05-27 20:46] LynnMcRae opened #65 "Embargo-release date queries are failing due to solr field name changes"
This is a proxy ticket to address a current production issue with embargo-release. No embargoed items have been released since March 25.

https://github.com/sul-dlss/common-accessioning/issues/56

[2016-05-31 16:58] peetucket commented on #63
- [x] investigate
- [x] write remediation script
- [ ] run remediation script
- [ ] re-index feigenbaum exhibit

[2016-06-01 17:52] jkeck opened #66 "Upcoming SearchWorks Work"
- [x] Update library images for Rumsey
- [x] Update library images for Hoover
- [x] Add new location sul-dlss/SearchWorks#1261
- [x] Add Yewno integration to SearchWorks home page

[2016-06-01 17:53] jkeck opened #67 "Article API Review"
There are 3 APIs that need to be reviewed for integration into SearchWorks and/or other search environments.

[2016-06-03 18:23] #54 closed, assigned to LynnMcRae

[2016-06-03 18:26] #63 closed, assigned to peetucket

[2016-06-03 18:30] jmartin-sul opened #68 "embargo release still failing"
it appears that the embargo release query has been fixed, but something is wrong with the cron job:
https://github.com/sul-dlss/common-accessioning/issues/56#issuecomment-223356134

creating this proxy ticket to track track the follow on work, since the problem for which the initial issue was filed has been fixed.

[2016-06-03 18:39] #65 closed, assigned to tingulfsen

[2016-06-03 18:48] ndushay commented on #36
https://github.com/sul-dlss/media/wiki/Current-Media-Viewer-Progress

[2016-06-03 18:48] jkeck commented on #36
Video.js may have an HLS plugin that will work for audio on non-safari browsers

[2016-06-07 01:36] ndushay commented on #61
May need code tweaks to
- [ ] sul-embed  (sul-dlss/sul-embed#578 )
- [ ] digital stacks (https://github.com/sul-dlss/digital_stacks_rails/issues/49)
- [ ] wowza (plugin code or configuration tweaks, esp for token validation hoo-ha?)

May need to document some forbidden chars, etc. for SDR deposit practices, etc.

[2016-06-07 01:46] ndushay commented on #61
please pay particular attention to  things like

* %20  in a filename (there's a real example)
* extra . (periods)  in a filename, besides the one for the extension (many real examples)
* any other weird chars in real filenames  (e.g. square brackets, question marks, parens,   {} @#^ %|"`  etc. )

[2016-06-07 18:36] ndushay commented on #61
code has been deployed to digital stacks and to wowza;  this is ready for testing.

[2016-06-07 18:39] ndushay commented on #61
stacks file action for https://purl-test.stanford.edu/fq961jm6386   seems to fail on single quote  (or is it a backtick?  it's not encoded but the one in `cat's` is ...):

current sul-embed link looks like:

[code]

I think one implication is that sul-embed should (needs to?) encode, for media files (?) (seem to work for file request):

[code]

and possibly all but last dot for stream#download  re

[2016-06-08 00:02] jmartin-sul commented on #68
the ticket for which this was a proxy has been closed, so closing the proxy ticket:  https://github.com/sul-dlss/common-accessioning/issues/56#event-684729989

feel free to reopen if this is in error.

[2016-06-08 18:10] jmartin-sul commented on #68
reopening because it sounds like this still isn't working.  will follow up w/ lynn and whoever else he points me to.

[2016-06-08 18:41] peetucket commented on #68
latest exception:

[lyberadmin@sul-robots1-test ~]$ cd /home/lyberadmin/common-accessioning/current/
[lyberadmin@sul-robots1-test current]$ BUNDLE_GEMFILE=/home/lyberadmin/common-accessioning/current/Gemfile ROBOT_ENVIRONMENT=test /usr/local/rvm/wrappers/default/ruby /home/lyberadmin/common-accessioning/current/robots/accession/embargo_release.rb
Loading config from /home/lyberadmin/common-accessi

[2016-06-08 18:44] jmartin-sul commented on #68
vague memories of having to set up the dor-workflow-services client properly.  this seems like a possible dor-services or dor-workflow-services misconfig.  it's been a couple months since i've looked at that stuff at all.

[2016-06-08 19:05] LynnMcRae commented on #68
Would anyone be up for simply putting the latest fix into prod and seeing if it works?  It can't do any harm and it might get us past being stuck on an inadequate stage setup. I know I am suggesting a terrible thing, but we've done it once already trying to get this thing to work!

[2016-06-08 20:35] jmartin-sul commented on #68
keeping this proxy ticket, updated title for accuracy, new common accessioning ticket:  sul-dlss/common-accessioning#60

[2016-06-08 20:37] jmartin-sul commented on #68
also, i cleared size on this since it was a 3, and this is the second time this proxy ticket has been reopened/repurposed.  i could also put back an estimate that reflects the total estimate of the now three tickets that have been proxied by this.  but it seemed wrong to leave the original estimate in place considering the way this issue's scope has shifted.

[2016-06-08 20:47] peetucket commented on #68
you can re-estimate...though leaving the original estimate is not necessary the wrong thing to do --- it lets us know we thought it was easier than it ended up being (which is also useful history) and therefore more correctly identifies the velocity

[2016-06-08 20:50] jmartin-sul commented on #68
added the original estimate back.

so the original was a 3.  cron job thing feels like it'd have also been estimated at around a 3.  this new one feels to me like a 3 or a 5?

would you prefer just keeping the original 3, or doing some summation of the values for all three proxied tickets?

[2016-06-08 21:46] jmartin-sul opened #69 "do full end-to-end testing and QA of location based authorization"
- [ ] ensure stacks-test and embed-dev have latest master branch deployed, to mimic what will be deployed to production
- [ ] validate access works as expected for stanford only, location-restricted and dark content

@LynnMcRae  could we have:
- an image test object with location based rights?
- a media test object with location based rights?

confirmed that "file" based rights work, but can't con

[2016-06-08 22:27] ndushay commented on #69
purl-test has latest digital_stacks_rails and sul-embed code in place with location based rights;  the only test object with this is

http://purl-test.stanford.edu/xv428cw8400

and it's only the last file with location based rights.

Confirmed that we get a rails "access forbidden" 403  in safari and firefox when attempting to download this file.

[2016-06-09 19:16] jmartin-sul commented on #37
tentative good news:  it looks like you can't just go re-requesting media segments from wowza.  if you pull up a purl page with a video, and you look at the network traffic in the browser debugger, you can see requests to wowza for a `manifest.mpd`, with a `stacks_token` in the URL params.  the response from wowza appears to contain not a direct manifest with an actual list of chunks, but an XML r

[2016-06-09 21:38] #66 closed, assigned to jkeck

[2016-06-09 21:43] peetucket opened #70 "Manually release embargoed content"

[2016-06-09 21:45] ndushay commented on #68
New approach:  actually get it working in stage environment.

Task is to assess and document expected work necessary.   Hopefully this is max 3 hours (to assess).

[2016-06-09 21:53] peetucket opened #71 "sul-streaming: provision new VM for front end player"

[2016-06-09 21:55] peetucket opened #72 "sul-streaming: media content from old server to new server"
- ~~[ ] copy HTML from old server to new VM~~  this is now a separate issue, #78
- [x] copy flash video and MP3 files from old server to Wowza-prod (into `/data/sul-streaming` directory

[2016-06-09 21:55] peetucket opened #73 "sul-streaming: build new wowza application for Flash/MP3 files"
app name:   sul-streaming
content will live in:    /data/sul-streaming      (that is, the mounted data directory, with a sub-directory of sul-streaming, and preserving the old directory structure under that)

we will create a wowza app on -stage   first just to ensure we can set up the configuration properly, then we will set the analogous wowza app up on wowza-prod.

[2016-06-09 21:56] LynnMcRae opened #74 "Add test objects to exercise safe and questionable characters in media and image filenames"
Test objects:

druid:ym777gf7400 -- Test special characters for media -- Custom car
druid:fg019pm1396 -- Test special characters for image -- Noah the Jungle Cat

For use by QA and software tests -- #61

[2016-06-09 21:56] peetucket opened #75 "sul-streaming: create alias rules"
- [ ] turn sul-streaming into an alias for streaming-legacy, but keep sul-streaming box

This will allow folks pointing to the HTML from sul-streaming to be using new, improved HTML on streaming legacy that plays video from new wowza box.

See https://consul.stanford.edu/display/GAL/sul-streaming+migration and SAR-3189, SAR-3157

[2016-06-09 22:01] ndushay opened #76 "sul-streaming: update HTML player links to new media locations"
when the html/js is copied to the new VM, the links to the streaming content will need to be changed from the old sul-streaming server to the new wowza-prod sul-streaming (wowza) application URLs.

[2016-06-09 22:11] ndushay opened #77 "create test data for location restricted content"
Currently we have only one location restricted file in the Jessie says No object.

At object and file level

types of objects
- file
- image
- media

also intersection of all these with stanford-only objects.

[2016-06-09 22:18] ndushay commented on #72
scp?  temporary mount of existing content volume onto wowza box.

[2016-06-09 22:45] #60 closed, assigned to hannahfrost

[2016-06-13 19:09] LynnMcRae commented on #61
Test objects:
https://purl-test.stanford.edu/ym777gf7400 -- for media
https://purl-test.stanford.edu/fg019pm1396 -- for image

[2016-06-13 20:35] ndushay commented on #58
I executed `/admin/collections?action=DELETE&name=argo`  on sul-solr-cloud on Jun 13, 2016.

[2016-06-13 20:35] ndushay commented on #57
I executed `/admin/collections?action=DELETE&name=argo_test` on sul-solr-cloud on Jun 13, 2016.

[2016-06-13 20:47] ndushay commented on #58
https://jirasul.stanford.edu/jira/browse/SAR-3181 to get rid of VM

sul-dlss/sul-solr-configs#58

[2016-06-13 20:48] ndushay commented on #57
https://jirasul.stanford.edu/jira/browse/SAR-3181   to get rid of VM

https://github.com/sul-dlss/sul-solr-configs/pull/57

[2016-06-13 20:59] ndushay commented on #68
current ticket is sul-dlss/common-accessioning#60 ;  see info there.

[2016-06-13 23:32] LynnMcRae commented on #74
Here's what we get

For image (from mirador; test embed has a problem with this object):
![screen shot 2016-06-13 at 4 07 15 pm](https://cloud.githubusercontent.com/assets/1824732/16026579/58e44e04-3184-11e6-8a61-32d7965bac52.png)

For media (taken from purl-test):
![screen shot 2016-06-13 at 4 31 04 pm](https://cloud.githubusercontent.com/assets/1824732/16026586/5ec9e28e-3184-11e6-91a6-fa62ef98e2

[2016-06-13 23:42] ndushay commented on #68
This is, effectively, the code to do an embargo_release:

[code]

 We are currently failing on `open_new_version` with `404: resource not found; MoabObject exception (couldn't run SDR current version call)`

Note that there may be failures with `release_embargo` or other steps after we get `open_new_version` to work.

---

We surmise the problem with `open_new_version` is a configuration issue.

T

[2016-06-13 23:44] ndushay commented on #68
embargo release processing documented here:  https://github.com/sul-dlss/argo/wiki/Embargo-Release-Processing

[2016-06-14 00:48] ndushay commented on #73
test video with wowza admin gui:

media file name:

adobe RTMP:
- v0058/pw607mn4286_web.flv
- v0058/vn286qc7384_web.flv

other content on -stage (some of it) (you have to specify mp3):
- sc0359/ct119fk4153_a_sl.mp3
- sc0359/ct119fk4153_b_sl.mp3
- sc0359/nt777wt9736_1_a_sl.mp3
- sc0359/nt777wt9736_2_b_sl.mp3
- sc0359/vm724dd0090_1_a_sl.mp3
- sc0359/vm724dd0090_3_b_sl.mp3
- sc0359/vq083my4984_a_sl.m

[2016-06-14 01:12] ndushay commented on #73
I believe I have correctly configured the sul-streaming wowza "application" on  wowza-stage and wowza-prod.   In both cases, the content is expected in the `/data/sul-streaming` folder.

[2016-06-14 01:13] #73 closed, assigned to ndushay

[2016-06-14 01:25] ndushay commented on #72
media content is at `/usr/local/wow/content`

username media for sul-streaming;  could ssh from wowza-stage but not from my laptop

[2016-06-14 01:28] ndushay opened #78 "sul-streaming: html from old server to new server"
Blocked by #71

Copy HTML from old server to new VM for html  (Related to #72; See also #50).

html content on sul-streaming is in `/var/www/html/collections`, tho possibly also in `/var/www/html` for other stuff??

username media:   could ssh from  wowza-stage but not from my laptop.

[2016-06-14 01:41] ndushay commented on #78
@hannahfrost  @oceanofsound   any idea if we need any of the html besides "collections" directory?

Is this `/var/www/html/acomp` content anything we need to keep?

[code]

Do we need anything from the `/var/www/html/flex` directory?  It looks like some sort of player??

[code]

May we ignore the content in `/var/www/html/humbio` dir?

[code]

May we ignore the content in `/var/www/html/mp` dir?

[2016-06-14 01:42] ndushay commented on #78
FYI, what's in the `/var/www/html/collections` dir:

[code]

I will ignore `test_playlist_jwp4.3`.   @hannahfrost @oceanofsound  any idea of what else I can ignore, right off the bat?

[2016-06-14 02:39] LynnMcRae commented on #68
FYI incase it hasn't been conveyed yet ... you will be unable to open a new version in stage for any object copied over "accessioned" but never ingested.  It is a legitimate error when SDR says you can't open a v2 because there is no v1 in pres core. Unfortunately, this is the state of the vast majority of dor-test objects.  If you don't have some street legal test embargo objects yet, I'll work w

[2016-06-14 02:50] ndushay commented on #68
yes, please, make us some street legal embargo-able objects!   We think we got one thru: kn280cs8150   but we didn't know how to reset it to be embargoed again.

[2016-06-14 03:41] ndushay commented on #71
created https://jirasul.stanford.edu/jira/browse/SAR-3182

[2016-06-14 16:57] LynnMcRae commented on #68
druid:kn280cs8150 and druid:px885wv4511 look like usable examples in stage. I set them both back to being embargoed and can reset them quickly as needed.

[2016-06-14 17:03] LynnMcRae commented on #68
An embargoed datastream looks like this

[code]

Embargo release replaces the object level rights in rightsMetadata with the contents of <releaseAccess> and then sets the status to "release".

rightsMetadata for an item under embargo looks like this:

[code]

The two expressions of release date should match of course, and be in the past to be caught by the embargo release job's query.

[2016-06-14 17:51] ndushay commented on #72
Rob suggests  rsync or scp

[2016-06-14 17:52] ndushay commented on #78
Rob suggests rsync or scp to do this

[2016-06-14 18:16] oceanofsound commented on #78
re: the non-collections html files, I'm not sure if we need any of them copied over (@hannahfrost would you agree?). I'm inclined to say that you can ignore those. Within collections, test_playlist_jw4.3 can definitely be ignored. I could guess at some others, but I'd worry about being incorrect. Older folders from 2009 or 2010 predate my time here. Some University Archives stuff may also not be c

[2016-06-14 19:09] ndushay commented on #78
I would LOVE a list of things you know I will NOT need to copy over, even if incomplete.  :-)

[2016-06-14 19:10] oceanofsound commented on #78
Ha, ok, I've got Daniel reviewing the list of streaming UA collections to see what can get the ax, if anything.

[2016-06-14 19:17] ndushay commented on #72
sul-streaming  `/usr/local/wow/content`:  uses 498G

sul-wowza-prod  `/data` : has 700G avail

[2016-06-14 19:35] LynnMcRae opened #79 "Special characters causes display problem with image embed"
This is a proxy ticket for https://github.com/sul-dlss/sul-embed/issues/595 where embed has display problems with a test object originally created as part of the media effort to test character set limitations with odd filenames through Stacks -- https://purl-test.stanford.edu/fg019pm1396

[2016-06-14 21:44] ndushay commented on #68
We believe we have solved this problem.  See sul-dlss/common-accessioning/issues/60.

We kicked off the embargo release from the command line (just as the cron job would) and it is running now, error free!

We will be deploying common_accessioning code with the dor-services gem upgrade to 5.8.0 (was 5.7.0) at your earliest convenience.

[2016-06-14 22:23] ndushay commented on #78
@oceanofsound got info from Daniel on UA stuff

[code]

[ua_streams_dh_filter.xlsx](https://github.com/sul-dlss/media/files/315078/ua_streams_dh_filter.xlsx)

Which contains the ones we WANT TO MIGRATE:

[code]

[2016-06-14 22:37] ndushay commented on #78
This means we explicitly know we do NOT need:
- kant
- tanner
- zimbardo

but not yet sure about other content  in dirs starting other than sc_, v0_, or feigenbaum

(is this correct, @oceanofsound ?)

[2016-06-14 22:38] ndushay commented on #72
This means we explicitly know we do NOT need:

[code]

but not yet sure about other content in dirs starting other than sc, v0, or feigenbaum

[2016-06-14 22:52] ndushay commented on #70
Given today's (mixed) success with the embargo-release code, this may not still be necessary???

[2016-06-14 22:59] LynnMcRae commented on #70
Because of the partial success, Ben will be completing the release of the 205 rather than remediate them back to embargoed.  We'll either get more naturally or can embargo more in prod when you are ready to try the prod script again.

[2016-06-14 23:02] blalbrit commented on #70
spot-checking as I go, the following steps successfully replace the rightsMD:
item=Dor::Item.find("druid:#{druid}")
item.release_embargo("application::accessionWF:embargo-release")
item.save

So maybe the versioning stuff is causing problems?

[2016-06-14 23:24] oceanofsound commented on #78
That's correct.

[2016-06-14 23:36] ndushay commented on #70
We were doing  `item.close_version` before the `item.save`  when we ran manually.  It appeared to keep the embargo info in the rights_xml.

The "script"  does `item.save` before  `item.close_version` and that also seems to keep the embargo info in the rights_xml.

Are you suggesting that `item.open_new_version` is what's causing us grief?

[2016-06-14 23:50] jmartin-sul commented on #37
here's the content of a helpful email exchange i had with wowza support, where they explained the options available to us for securing streams (TL;DR:  it appears that they support a similar token auth scheme to ours, as suspected based on the testing described above):

my original message:

their reply:

so it appears that Wowza offers what we're looking for.  would be good to confirm w/ the docs

[2016-06-14 23:56] blalbrit commented on #70
I think what I'm suggesting is that I'm doing item.save (which successfully updates the datastream - that is, rightsMD is updated with the post-embargo data). I'm currently then - opening & closing a version in Argo rather than through the .open_new_version or .close_version methods.

This is successfully doing what we want it to do... so wondering if the version methods are what are messing us up

[2016-06-14 23:57] ndushay commented on #70
👍   info for the new ticket.

[2016-06-15 00:08] blalbrit opened #80 "common-accessioning: embargo_release not resulting in correct rightsMD"
See sul-dlss/common-accessioning#63

See #70 - it looks like the configuration changes have been successfully made, but the embargo-release is failing to either:
- properly copy the new rightsMD from embargoMD at time of release -OR-
- properly save the updated rightsMD datastream in the versioning process

I have just successfully released 205 objects from embargo using the following:
1. run scri

[2016-06-15 00:11] blalbrit commented on #70
203 objects manually released (2 were in a registered-only state).

[2016-06-15 00:11] #70 closed, assigned to blalbrit, LynnMcRae

[2016-06-15 00:13] ndushay commented on #80
The rightsMD SHOULD look like this after embargo is released by the script:
[code]

But instead, it looks like this:
[code]

[2016-06-15 00:15] ndushay commented on #80
An embargoed datastream looks like this

[code]

Embargo release replaces the object level rights in rightsMetadata with the contents of <releaseAccess> and then sets the status to "release".

rightsMetadata for an item under embargo looks like this:

[code]

The two expressions of release date should match of course, and be in the past to be caught by the embargo release job's query.

The rightsM

[2016-06-15 00:20] ndushay commented on #80
Ben suggests that `item.save` successfully updates the rightsMD datastream with the post-embargo data, but only if we don't do it preceded by `item.open_new_version` and followed by `item.close_version`.   The implication is there is some interference from the version methods .

Note also:

We were doing  `item.close_version` before the `item.save`  when we ran manually.  It appeared to keep the e

[2016-06-15 00:22] ndushay commented on #68
closing in favor of #80

[2016-06-15 00:22] #68 closed, assigned to ndushay, jmartin-sul

[2016-06-15 00:25] ndushay commented on #80
further info should probably go in sul-dlss/common-accessioning#63

[2016-06-15 13:42] jkeck commented on #79
SUL-Embed is part of the Media waffle board.  Why has this additional proxy ticket been created?

We typically have done this for projects that are not in our waffle board so we don't have to pull in all of their issues into our backlog, but these seems like unnecessary duplication and overhead in ticketing.

[2016-06-15 16:50] LynnMcRae commented on #79
d'oh, my bad ... was thinking more of "image" not being in scope for media than about the project itself, but basically  just forgot it was already there. I assume we will ignore the underlying issue for now as it's not relevant to this sprint.

[2016-06-15 16:50] #79 closed, assigned to nobody

[2016-06-15 22:06] LynnMcRae commented on #77
Two test objects for media now available (still working on others). I have started to use "lathrop" as a test location that we can make fungible for testing so that "spec" can get its real definition as that comes along.

https://purl-test.stanford.edu/vf466bd3249 - simple one video object, with location=lathrop

https://purl-test.stanford.edu/fq961jm6386 - repurposed Cat Chattering object to be w

[2016-06-16 07:54] ndushay commented on #72
I copied all the media from sul-streaming  in `/usr/local/wow/content/` EXCEPT:

[code]

[2016-06-16 17:08] LynnMcRae commented on #77
Two test objects for image are now available, using "lathrop" as the location:

https://purl-test.stanford.edu/gc810cm7976 - single image object with object level location restriction

https://purl-test.stanford.edu/pn861pp0444 - two image object, the first governed by object-level world access, the second with a file-level location restriction.

[2016-06-16 18:33] ndushay commented on #80
We have a fix percolating thru!  Details here: sul-dlss/common-accessioning#63

[2016-06-16 18:36] ndushay commented on #72
Just in case, i put `kant`, `tanner` and `zimbardo` on sul-wowza in a subdir: `/data/sul-streaming/prob-dont-need`

[2016-06-17 12:19] hannahfrost commented on #78
That jibes with my understanding as well. Thanks!

[2016-06-17 15:28] #57 closed, assigned to ndushay

[2016-06-17 15:28] #58 closed, assigned to ndushay

[2016-06-17 17:56] ndushay commented on #72
@hannahfrost  does this sound okay to you?

I copied all the media from sul-streaming  in `/usr/local/wow/content/` EXCEPT:

[code]

Just in case, i put `kant`, `tanner` and `zimbardo` on sul-wowza in a subdir: `/data/sul-streaming/prob-dont-need`

[2016-06-17 18:11] ndushay commented on #78
I copied the following  html from sul-streaming  in `/var/www/html`:

[code]

I did not copy this html from sul-streaming

[code]

within the `collections` folder, I did NOT copy

[code]

I copied from sul-streaming `collections`, but put in streaming-legacy `collections/prob-dont-need` folder:

[code]

everything else is copied to the analogous location in collections folder on the streaming-lega

[2016-06-17 18:31] ndushay commented on #76
Per #78, the html/js etc  has been moved to new streaming-legacy VM in `/opt/app/wowza`

Per #75 and #73, the media content is now available on sul-wowza-prod  in the  sul-streaming  application.

So all links in html / js  to the actual media content should now be changed.

[2016-06-17 18:47] ndushay commented on #71
per SAR-3182, new machine up; waiting for certs.

[2016-06-17 18:47] #71 closed, assigned to ndushay

[2016-06-17 18:56] ndushay commented on #78
FYI, proof the html is there and the web server is working:

https://streaming-legacy.stanford.edu/collections/hershman/war/antoni_2006.html

[2016-06-17 18:59] ndushay commented on #76
This returns html

https://streaming-legacy.stanford.edu/collections/hershman/war/antoni_2006.html

So we have web server up and running and ready for getting the updated links to media living on new wowza.

[2016-06-17 21:17] LynnMcRae commented on #77
Two new media test objects for "Stanford OR location"

https://argo-stage.stanford.edu/catalog/druid:vs077pq2501 - one video, Stanford OR location=lathrop at the object level.

https://purl-test.stanford.edu/gm746xg1831 - two videos, the first is world (object default), the second is Stanford OR location=lathrop at the file level.

[2016-06-17 21:30] ndushay commented on #76
example of working new url for flv

`rtmp://sul-mediaserver.stanford.edu:1935/sul-streaming/_definst_/v0058/vn286qc7384_web.flv`

where v0058  is the "collection" directory

[2016-06-17 21:35] ndushay commented on #78
I awesomely forgot that Kam asked me to put the data in /opt/app  ... he will move it this weekend

[2016-06-17 23:00] hannahfrost commented on #72
@ndushay Yes, that sounds right to me. Thank you!

[2016-06-20 18:32] ndushay commented on #80
done.

[2016-06-20 18:32] #80 closed, assigned to ndushay, jmartin-sul

[2016-06-20 18:51] LynnMcRae commented on #77
Two test objects for content-type=file with location restrictions

https://purl-test.stanford.edu/vg385nf6171 -- Ode on the Death of a Favourite Cat, Drowned in a Tub of Gold Fishes : A test object, one file resource, object restricted to location=lathrop

https://purl-test.stanford.edu/fn354ht3703 -- Pangur Bán ("The Scholar and the Cat") : A test object, two file resources, 2nd restricted to loc

[2016-06-20 19:13] ndushay commented on #76
Just filed SAR-3185  to open prod wowza port 1935  so video is actually viewable from that box ...

[2016-06-20 19:23] ndushay commented on #78
@hannahfrost   do I have all the stuff we need in the right places?  Happy to go over this in person if it's easier.

[2016-06-20 19:24] #72 closed, assigned to ndushay

[2016-06-21 13:06] hannahfrost commented on #78
@ndushay Let's take a look at it together sometime soon. Thank you!

[2016-06-21 21:11] ndushay commented on #76
wowza-prod  sul-streaming videos now actually play!

[2016-06-21 21:12] jmartin-sul commented on #37
i think this can be closed, since it was about investigation, and the investigation into what options are available seems to be complete.

one final note:  if you read the first doc linked in the wowza support reply, you'll notice that it actually seems to describe a feature in wowza that's very similar to the token system we implemented in stacks.  (hash some expected values related to the stream

[2016-06-21 21:12] #37 closed, assigned to jmartin-sul

[2016-06-22 18:29] LynnMcRae commented on #77
Test objects that combine location with no-download, two at object/default level, two at file level.

New media object:
https://purl-test.stanford.edu/mq099tt8571 -- Cat Massage! (Test media object, object default location+no-download)

New image object:
https://purl-test.stanford.edu/jz517dz5155 -- Tatra Automobile spotted on campus (Test image object, first image world+no-download, second image

[2016-06-22 19:05] LynnMcRae commented on #77
information about test objects for rights/locations gathered togetger at https://consul.stanford.edu/display/chimera/Test+objects+for+rights+metadata

[2016-06-23 03:25] hannahfrost commented on #78
@ndushay I went through this ticket a few times, comparing it to the two servers (media@sul-streaming and wowza@streaming-legacy), and I believe we are GOOD. Thank you for taking great notes along the way. I'm comfortable with our status and am closing the ticket.

[2016-06-23 03:25] #78 closed, assigned to ndushay

[2016-06-23 16:29] #67 closed, assigned to jkeck

[2016-06-23 20:32] #77 closed, assigned to LynnMcRae

[2016-06-23 20:33] #74 closed, assigned to LynnMcRae

[2016-06-23 21:05] #61 closed, assigned to nobody

[2016-06-23 21:06] ndushay opened #81 "sul-streaming: streaming-legacy should play media to world"
open ports for box so it can be used by public to stream content that used to be viewed at sul-streaming

[2016-06-23 21:06] LynnMcRae commented on #61
Results documented in https://consul.stanford.edu/display/chimera/Character+set+constraints+for+SDR+file+names

[2016-06-23 21:07] ndushay commented on #81
SAR-3188 to open ports 80 and 1935 to world

[2016-06-23 21:15] ndushay opened #82 "Fix web archiving accessioning robots"
per Summer planning, Darren Hardy and Naomi are resourced to fix the web archiving robots so web archiving materials can be accessioned and preserved.

[2016-06-23 21:29] LynnMcRae opened #83 "Add realistic Use statements to location test objects"
Since embed refers the user to the Use and Reproduction statement for details on access restrictions, we should have our test objects demonstrate real-ish statement to see how it works out in the UI.

[2016-06-23 21:46] LynnMcRae opened #84 "Create some audio test objects"
- [x] Single audio file, world, thumb
- [x] Single audio file, world, no thumb
- [x] Multiple audio files, world, thumb, separate image for second file
- [x] Mixed audio/video object

[2016-06-23 21:47] ndushay opened #85 "deploy to production for vetting non-media changes"
deploy sul-embed with media turned off
deploy digital stacks

get a production shakedown while media team still focused on media

[2016-06-23 21:56] ndushay commented on #69
information about test objects for rights/locations gathered together at https://consul.stanford.edu/display/chimera/Test+objects+for+rights+metadata

[2016-06-24 21:23] tingulfsen opened #86 "sul-streaming: update rtmp links on collections.stanford.edu"
"update the rtmp links on collections.stanford.edu  to point to rtmp on sul-mediaserver (alias for wowza-prod)  instead of to sul-streaming."

These links only exist for bucky and mjf.

The content at collections.stanford.edu, such as the Bucky audio and video, currently points to the old sul-streaming.stanford.edu server that we want to decommission. We have started migrating content to the new s

[2016-06-24 21:23] tingulfsen commented on #76
I'm closing this ticket having completed the migration of content from the old sul-streaming to the new streaming-legacy server. I've done a little bit of testing manually without finding any problems. If anything crops up, we could just open a new issue.

Note that there is a separate ticket (#86) for migrating collections.stanford.edu.

[2016-06-24 21:23] #76 closed, assigned to tingulfsen

[2016-06-28 21:46] ndushay commented on #75
Waiting for wowza-prod box to get apache server and htm, jsl content from sul-streaming.

[2016-06-28 21:47] ndushay commented on #86
currently a won't fix due to plans to be articulated in consul page, blah blah.

[2016-06-28 21:49] ndushay commented on #81
SAR-3188 done.

[2016-06-28 21:49] #81 closed, assigned to ndushay

[2016-06-28 21:53] ndushay opened #87 "sul-streaming: migrate html, js content to apache server on wowza-prod"
ON HOLD:  we may be able to fix links on collections.stanford.edu  to get streaming media from wowza-prod ...

SAR-3189 to get Apache on wowza box.

After apache is there, we can migrate html/js content from  streaming-legacy (the updated sul-streaming content)  to wowza-prod  apache server.

Should also keep a copy of pristine sul-streaming html/js  content handy.

[2016-06-29 02:00] ndushay commented on #86
See https://consul.stanford.edu/display/GAL/sul-streaming+migration and SAR-3189, SAR-3157

[2016-06-29 16:53] hannahfrost opened #88 "plan for remediating rightsMetadata for accessioned media to support streaming and restricted access"

[2016-06-29 21:28] ndushay opened #89 "sul-streaming: update rtmp links on collections.stanford.edu"
update the rtmp links on collections.stanford.edu  to point to rtmp on sul-mediaserver (alias for wowza-prod)  instead of to sul-streaming.

[2016-06-29 21:29] ndushay commented on #89
dup of #86

[2016-06-29 21:29] #89 closed, assigned to ndushay, tingulfsen

[2016-06-29 21:30] ndushay commented on #86
Change in plans!   We can do this!   We only need to do it for mjf and bucky.

[2016-06-29 23:26] ndushay commented on #86
This is done for mjf and bucky;   the links on this page are broken:

http://collections.stanford.edu/bucky/bin/page?forward=exploringbucky/moreideas

they are keying off fileIDs like this:  `<a href="/bucky/bin/mediaplayer?fileID=1417336165&n=1">audio1</a>`

I can't figure out where that fileID is defined and/or looked up.   There is no file like that in the bucky media data on sul-streaming or h

[2016-06-30 00:07] hannahfrost commented on #86
Hmm. those IDs are not meaningful to me either, which means it was designed within the app.... I could dig up what those actual files are, but don't know if we can do anything with that. could we?

[2016-06-30 00:08] ndushay commented on #86
If we know what the files are, we can make the links actually work, I think.  I can't figure out how it might have worked before.  The collections-prod  box has a fairly confusing set of inter-related web sites.

[2016-06-30 00:12] hannahfrost commented on #86
ok, I'll see if we can get those files identified on wowza-prod

[2016-06-30 04:15] hannahfrost commented on #86
I found the file names for all but the second-from-the-bottom (metadata error in the original finding aid that has persisted for a long time). And the bottom link on that page is not broken (it leads to a search result, not media). Hopefully this helps.
[buckyfixes.xlsx](https://github.com/sul-dlss/media/files/340692/buckyfixes.xlsx)

[2016-06-30 22:44] ndushay commented on #87
since we could update collections.stanford.edu, no longer planning to do this.

[2016-06-30 22:44] #87 closed, assigned to nobody

[2016-07-01 04:53] ndushay commented on #85
I don't remember why I put the blocked label on this.  Are we waiting for digital_stacks fixes and sul-embed fixes first?

[2016-07-01 05:20] jkeck commented on #85
Yeah, I believe we want to get sul-dlss/sul-embed#598 merged in first.  We should also get some testing done on `stacks-test`/`purl-test`.

We should chat about the testing plan at our check-in tomorrow (although perhaps critical people will not be there).

[2016-07-01 18:01] ndushay commented on #86
So it turns out links like the ones on this page:
http://collections.stanford.edu/bucky/bin/search/advanced/process?clauseMapped%28title%29=architect*&clauseMapped%28dateISO%29=&clauseMapped%28format1%29=audio+OR+audio1+OR+audio2+OR+video+OR+video1+OR+video2&sort=dateStart

work:

http://collections.stanford.edu/bucky/bin/mediaplayer?fileID=157138371X&n=1

so now I'm totally puzzled.   And more co

[2016-07-01 18:30] ndushay commented on #86
I think at this point we can call this done, except there should be some vetting by someone other than me!

[2016-07-05 18:28] LynnMcRae opened #90 "Argo proxy: Include .xml extension in bulk descMD download"
see https://github.com/sul-dlss/argo/issues/756

[2016-07-06 01:25] #90 closed, assigned to tingulfsen

[2016-07-06 21:55] peetucket opened #91 "Test ticket - ignore"

[2016-07-06 21:58] #86 closed, assigned to ndushay, tingulfsen

[2016-07-06 22:04] #91 closed, assigned to nobody

[2016-07-06 22:22] peetucket opened #92 "Test supported browsers/OS to ensure audio/video sul-embed player works"
Enumerate supported browsers from wiki page

[2016-07-06 22:23] jkeck opened #93 "Analysis of location based restricted images"
- [x] IIIF manifest changes
- [ ] Designs
- [ ] SUL Embed Viewer Changes

[2016-07-06 22:27] peetucket opened #94 "Devops checklist (was: Create and finalize SLA for Media Service)"
- [x] media overview
- [x] sul-streaming info
- [x] wowza server info
- [x] dlss-wowza plugin
- [x] digital_stacks_rails
- [x] sul-embed
- [x] purl

[2016-07-06 22:45] peetucket opened #95 "Spot-check content that has been migrated to sul-streaming"
1. MJF (test all) and Bucky material (spot check) - served by collections.stanford.edu

[2016-07-06 22:52] ndushay commented on #75
blocked only in that it needs sign off that our migration is ok:
- collections.stanford.edu  bucky and mjf
- anything else pointing to sul-streaming

[2016-07-07 02:10] LynnMcRae commented on #93
Cover story ticket - https://github.com/sul-dlss/sul-embed/issues/597

[2016-07-07 19:21] ndushay commented on #95
Also want comparison of  sul-streaming  html    with streaming-legacy html:    it should be exactly comparable and videos and audio should play on streaming-legacy.

Folders of content on streaming-legacy box.    Login and go to `collections` directory and have at it.

[2016-07-07 22:30] peetucket commented on #95
MJF and Bucky spot checks look good (all of MJF checked)

[2016-07-07 22:58] peetucket commented on #95
spot-checked about 20 files scattered throughout streaming-legacy folders and all worked (found both video and audio)

[2016-07-08 17:02] #95 closed, assigned to peetucket

[2016-07-08 23:59] LynnMcRae opened #96 "Dor services - Drop world_qualified and stanford_qualified from Access Rights facet"
Proxy for https://github.com/sul-dlss/dor-services/issues/218

follow-on bug cleanup to Access Rights facet re-work for <location> auth.

[2016-07-11 18:17] LynnMcRae commented on #84
https://purl-test.stanford.edu/nj580kb5771 - one audio, with thumb
https://purl-test.stanford.edu/yc213gg3859 - one audio, no thumb
https://purl-test.stanford.edu/dv738kn2168 - multiple audio, one thumb and one file with separate image
https://purl-test.stanford.edu/ky464mh2422 - one audio, one video, one thumb

[2016-07-15 18:21] #84 closed, assigned to LynnMcRae

[2016-07-18 19:15] ndushay opened #97 "rotate wowza logs on wowza VMs and write to afs"
(devops-y):

from @tingulfsen:

"I just deleted the old logs on sul-wowza-stage in /usr/local/WowzaStreamingEngine-4.1.2/logs/
`
Erin made me aware that they were taking up too much space. Maybe you could take a look into setting up log rotation?"

[2016-07-18 19:16] ndushay opened #98 "Wowza: upgrade wowza-prod to latest wowza version"
(devops-y):

from @tingulfsen:

"be aware that /usr/local now contains another Wowza directory for the latest version (Erin set that one up)."

[2016-07-18 21:37] ndushay commented on #98
done for -dev and -stage;   -prod is still at 4.1.2

[2016-07-18 21:41] #96 closed, assigned to jmartin-sul

[2016-07-19 19:30] peetucket commented on #98
waiting for Tommy to return to confirm details

[2016-07-19 21:33] ndushay commented on #97
@hannahfrost  do we need to keep the logs somewhere to analyze usage data at some point in the future?

If we can throw them away (I think it may be a bad idea to lose usage data, but that's just me), then I can configure log4j properties to do this.   If we must keep them, devops will need to work with puppet to move the oldest logs to longer term storage.

[2016-07-19 22:50] ndushay commented on #69
working on test plan doc:  https://docs.google.com/spreadsheets/d/1U5fAKw2sbGMs6eztfUQQ1GEWAi1HuSkIIB8wJ2zioBI/edit#gid=0

[2016-07-20 01:23] ndushay commented on #69
@LynnMcRae will fill druids into the test plan doc for test objects we already have.

[2016-07-20 20:46] jmartin-sul opened #99 "location etc rights facet: deploy argo 3.4.0 to prod, reindex all objects"
as per the last comment on sul-dlss/dor-rights-auth#17, the deployment and indexing should be all that remain to get the new rights facet into production.  we'll deploy and start the indexing on monday, since there's heavy accessioning happening for the rest of this week, and we don't want to risk overloading fedora.

opening this ticket for the deployment stuff, since the old ticket was about imp

[2016-07-21 18:19] #82 closed, assigned to ndushay, drh-stanford

[2016-07-25 21:33] ndushay commented on #97
I believe I have set this up on -dev and -stage, but -prod will need an official word on our log retention desires.

On -dev and -stage, I added these lines:

[code]

which means only 10 days of data will be kept for each of the log types.

[2016-07-25 21:42] ndushay commented on #97
Awesome.  From http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/DailyRollingFileAppender.html, we get:
`DailyRollingFileAppender has been observed to exhibit synchronization issues and data loss. The log4j extras companion includes alternatives which should be considered for new deployments and which are discussed in the documentation for org.apache.log4j.rolling.RollingFileAppender.`

[2016-07-26 00:22] tingulfsen opened #100 "Update MODSulator to match the updated spreadsheet"
The metadata department has updated the spreadsheet template that the MODSulator uses. We need to incorporate these changes and deploy them to the server.
- [x] Update MODSulator to use the latest Ruby version (the Travis build is currently failing with "Gem::InstallError: activesupport requires Ruby version >= 2.2.2.").
- [x] Merge sul-dlss/modsulator#15 (after rebasing upon updating Ruby).
- [x]

[2016-07-27 19:01] ndushay commented on #75
@hannahfrost   I have added suggestions to https://docs.google.com/document/d/1_gHNpzfohbLlE2SjdgxS7O0x-aeEWBOspU_BJVGe_Go/edit?ts=577eaa39#

it was not quite correct.

[2016-07-27 21:54] peetucket commented on #69
Can be tested using safari since location based auth is server based and does not depend on client

[2016-07-27 22:02] LynnMcRae opened #101 "Fix MODsulator spreadsheet upload"
With Monday's release of Argo, spreadsheet upload stopped working. It takes an upload and silently fails, leaving no evidence it was even submitted. This is a production outage

[2016-07-27 22:05] ndushay commented on #101
timebox 2 hours max investigation;  return to team when investigation is complete or when 2 hours have been spent on it - whichever comes first.

[2016-07-27 22:06] ndushay commented on #101
one possible culprit:  reindexing everything for the argo rights facet - all the workers are occupied (?)

[2016-07-27 22:06] peetucket commented on #93
What work would need to be done to support location-restricted access for image content?

[2016-07-27 22:20] peetucket opened #102 "Production deployment checklist"
create checklist to get all of the pieces deployed (e.g. stacks, sul-embed with media enabled, wowza plugin)

Prep:
- prod blockers
  - IE issues
  - thumbnail issues
  - wowza prod is ready
- hannah writes announcement
- testing new code with media turned off with production data

Basics:
- purl?
- sul-stacks-prod (incl VM config changes)
  - update shared-configs
  - deploy
- sul-embed (incl. VM

[2016-07-27 22:20] peetucket opened #103 "Create a UAT test plan for media related work once deployed to a test environment"
- [ ] do some regression testing for existing objects that should be unaffected (e.g. geo, image) to be sure nothing unexpected happens
- [ ] test media objects

[2016-07-27 22:25] peetucket commented on #103
Test objects for rightsMetadata: https://consul.stanford.edu/display/chimera/Test+objects+for+rights+metadata

Location based test plan: https://docs.google.com/spreadsheets/d/1U5fAKw2sbGMs6eztfUQQ1GEWAi1HuSkIIB8wJ2zioBI

[2016-07-27 22:43] jkeck commented on #85
Closing in exchange for larger UAT for full stack.

[2016-07-27 22:43] #85 closed, assigned to nobody

[2016-07-27 22:44] ndushay commented on #53
closing this - other decisions have been pursued.

[2016-07-27 22:44] #53 closed, assigned to nobody

[2016-07-27 22:45] #31 closed, assigned to ndushay

[2016-07-27 22:59] jmartin-sul commented on #99
indexing was proceeding without error, but very slowly when it started (on track to take around 68 days to do all 1.2+ million objects in fedora).  a bit of profiling using argo's [RubyProf tools](https://github.com/sul-dlss/argo/blob/master/PROFILING.md) indicated that the new relic profiling agent was taking up what seemed like an inordinate amount of the runtime, more than anything else, includ

[2016-07-27 23:25] ndushay commented on #97
hannah says we should retain the prod logs.

[2016-07-27 23:25] ndushay commented on #97
See also sul-dlss/dlss-wowza#33.

[2016-07-28 00:09] jkeck commented on #99
Just out of curiosity, was the New Relic profiling being reported anywhere?

[2016-07-28 17:59] ndushay opened #104 "write up devops checklist for argo"
Argo, as an app, should have a checklist.

Probably also a README indicating all the sul-dlss (and external) code bases it works with ...

[2016-07-28 18:27] ndushay opened #105 "write up devops checklist for modsulator"
Probably also a README indicating how it works with argo  and any other sul-dlss dependencies beyond argo ...

[2016-07-29 01:13] jmartin-sul commented on #99
i believe it was being collected in the DLSS new relic account, but i haven't looked in a while.  @eefahy might know?  i believe she set the license key up.

[2016-07-29 18:13] ndushay commented on #101
our theory SEEMS to have been correct, as a spreadsheet in prod surfaced - like maybe it was getting through the queus finally.

[2016-07-29 19:48] #62 closed, assigned to ndushay

[2016-08-01 18:10] LynnMcRae commented on #83
A common set of copyright, license, useAndReproduction and (new) restrictionOnAccess have been added to test media, image and file objects. They are realistic but not tailored to each object.

[2016-08-01 18:17] #83 closed, assigned to LynnMcRae

[2016-08-01 18:25] jmartin-sul commented on #99
the indexing is pretty much all done.

one straggler batch of objects remains in the indexing job queue.  i will look at its list of druids and try to run them manually (assuming some subset of the druids is failing, and keeping the batch from completing successfully).

[2016-08-01 18:44] jkeck opened #106 "Add running time to test objects"
We will add the running time to the thumbnails in the media player index.  This ticket is just about adding the data to the objects in purl-test.

[2016-08-01 18:53] jkeck opened #107 "Remediate published media objects to include running time and dimensions"

[2016-08-02 00:48] tingulfsen commented on #36
Per videojs/videojs-contrib-hls#803, MP3 files are not supported by the VideoJS HLS plugin. However, AAC encoded audio is supported (I tried successfully with an AAC-encoded audio file inside an MP4 container).

[2016-08-02 23:17] LynnMcRae commented on #106
Duration added to the <videoData> and <audioData> in all test media objects but one.  Search for "test media objects" to find all nine, the one missing <videoData> is the second copy of "Cat Massage!".

[2016-08-02 23:17] #106 closed, assigned to LynnMcRae

[2016-08-03 21:09] jmartin-sul commented on #99
on monday, i deleted the job for the aforementioned straggler, and re-ran the 10 objects in it by hand (by hitting dor-indexing-app using the browser).  9/10 ran successfully.  this one hung without ever returning or erroring:  https://argo.stanford.edu/catalog/druid:tw738dt3374

the logs showed 163 objects failed to index successfully over the course of the run.  attaching a list of druids for al

[2016-08-05 00:23] blalbrit commented on #99
Checking in on some of the above, the index-fedora_conn_err errors were just time-out errors and have been manually reindexed.

[2016-08-05 00:26] blalbrit commented on #99
The language facet failures seem to be failing on the isocode "bla" (the Siksika language). I wonder if that particularly language code is supported in our environment? These all appear to be from a single collection. Would @ndushay know about language code support and potential errors?

[2016-08-05 00:30] blalbrit commented on #99
Lynn and I have both looked at tw738dt3374 - there is something weird and recursive going on there and we'll need to look further.

[2016-08-05 16:39] LynnMcRae commented on #99
re tw738dt3374  -- d'oh!  we knew this one... stack too deep error is because the collection it belongs to is a member of itself and something in the indexing chases its own tail when  dereferencing the collection druid for the item.  Collection object druid:wn316fx5031 fixed, tw738dt3374 now reindexes.

[2016-08-05 21:36] #36 closed, assigned to tingulfsen

[2016-08-05 22:01] #101 closed, assigned to nobody

[2016-08-05 23:00] peetucket opened #108 "Test (supported) browsers across (OS) platforms - possibly w tool"
Determine if Stanford has a tool for cross-platform browser testing too for verifying media playback across browsers/platforms.

Potential issue: before deployed to production, test sites are behind VPN.

[2016-08-07 15:56] blalbrit commented on #99
@peetucket - I'm reopening until we can determine the language facet indexing error source.

[2016-08-07 17:46] LynnMcRae commented on #99
For first object in the list https://argo.stanford.edu/catalog/druid:bd752zt0985
The language statement looked like this:

[code]

I added - authority="iso639-2b"  to make it

[code]

and it indexes successfully. Can't tell if the dependency is on the authority attribute regardless of value, or specifically iso639; I suspect the former since it likely expects codes to be governed by some authority

[2016-08-07 18:57] LynnMcRae commented on #99
re: recursion error, the ticket for this was https://jirasul.stanford.edu/jira/browse/STNFRDSYNC-129 but has been marked closed. I thought it might be because we made a github ticket but I can't find one.  I'll make one unless someone knows of one I'm not seeing.

[2016-08-08 23:19] ndushay commented on #99
so is this ticket done now?  should it be closed?

[2016-08-08 23:20] blalbrit commented on #99
Yep. Sorry - should have followed that up after Lynn found the language issue.

[2016-08-08 23:20] #99 closed, assigned to jmartin-sul

[2016-08-09 22:36] ndushay opened #109 "set up honeybadger error notification service for wowza"
We will need API key from @eefahy (?)  and will need to use something like  https://github.com/honeybadger-io/honeybadger-java  in the dlss-wowza plugin.    We may _also_ want to do something for the wowza server itself, beyond our plugin code (e.g. for sul-streaming wowza application).

For a ruby example, see https://github.com/sul-dlss/exhibits/pull/291

[2016-08-10 00:40] ndushay commented on #98
@tingulfsen sent an email to @eefahy about upgrading wowza on our prod box.  Perhaps he could paste it in here for the record?

[2016-08-10 00:44] ndushay commented on #94
See sul-dlss/DevOpsDocs/pull/33  re:  **streaming-legacy** cutover status (we did cut over, just a few things remain):
- [x] nagios checks for streaming-legacy (SAR-3210)
- [ ] remove nagios checks for sul-streaming-old (SAR-3210)
- [x] log retention for streaming-legacy (SAR-3211)
  - [x] add afs path to checklist

[2016-08-10 00:51] ndushay commented on #75
I'm calling this done.  Still have a few tendrils to "productionize" streaming-legacy box, but those are in progress and recorded on #94:
- [ ]  nagios checks for streaming-legacy (SAR-3210)
- [ ]  remove nagios checks for sul-streaming-old (SAR-3210)
- [ ]  log retention for streaming-legacy (SAR-3211)

[2016-08-10 00:52] #75 closed, assigned to ndushay, hannahfrost

[2016-08-10 00:54] ndushay commented on #94
See sul-dlss/DevOpsDocs#34  re:  Wowza:
- [x] nagios checks (SAR-3212)
- [ ] log retention (sul-dlss/dlss-wowza#33, sul-dlss/media#97, then SAR ticket TBD)
- [ ] exception reporting with honeybadger (sul-dlss/media#109)
- [ ] upgrade Wowza server on wowza-prod (sul-dlss/media#98)
- [ ] @hannahfrost needs to tweak devopsdocs media page for RiverWalkJazz and libstream

[2016-08-10 00:56] ndushay commented on #102
For Wowza Prod to be production ready:
- [ ] upgrade Wowza server on wowza-prod (sul-dlss/media#98)
- [ ] nagios checks (SAR-3212)
- [ ] log retention (sul-dlss/dlss-wowza#33, sul-dlss/media#97, then SAR ticket TBD)
- [ ] exception reporting with honeybadger (sul-dlss/media#109)
- [ ] need `stacks` wowza application set up

[2016-08-10 16:57] eefahy commented on #109
In order to mint a new project and API key in HoneyBadger, I first need to make a team in invite everyone to join it. Admin users of the team can then make their own projects in honeybadger which will mint an API key to use.

[2016-08-10 18:36] ndushay commented on #109
So does this mean we want the "whiskey" team (formerly known as margo, formerly known as media) to be created with Jessie, myself, Tommy and John all as admins?  Or just Jessie and myself?  Or ...?

[2016-08-10 19:13] eefahy commented on #109
Yep, I think all devs in the `whiskey` team should be added. I will make a team and add you, Jessie, Tommy, and John

[2016-08-11 20:40] ndushay opened #110 "UX: ensure good UX when media rejected for flash player"
When stacks token is not authorized by dlss-wowza plugin, we need to ensure that the UX is ok - may involve changes to dlss-wowza plugin, sul-embed js, etc.

[2016-08-12 21:48] #100 closed, assigned to tingulfsen

[2016-08-15 20:51] ndushay commented on #98
@tingulfsen :  fyi:  just spoke to erin and she says to schedule a meeting with her (you and her) to get the puppet changes, etc. you need to upgrade wowza to 4.5.0 on the prod box.

[2016-08-15 20:55] ndushay commented on #98
tied to sul-dlss/dlss-wowza#35

[2016-08-15 20:59] ndushay opened #111 "create "stacks" wowza app on prod wowza server"

[2016-08-15 23:04] LynnMcRae commented on #26
These are <audioData> and <videoData> tags in contentMetadata, parallel to <imageData>.  See https://consul.stanford.edu/display/chimera/DOR+content+types%2C+resource+types+and+interpretive+metadata

[2016-08-15 23:21] hannahfrost commented on #26
So duration won't show in the player until the duration data is in contentMetadata, and we don't plan to tackle that as part of this first media work cycle.

[2016-08-15 23:37] LynnMcRae commented on #26
this sprint vs this work cycle?  Sorry, I still get confused !

I think dimensions for video is a requirement, so duration for that would/could go in at the same time. Audio is perhaps a separate effort.

[2016-08-15 23:52] hannahfrost commented on #51
@LynnMcRae Do we still need this ticket?

[2016-08-15 23:57] hannahfrost commented on #26
sorry, it should have said "work cycle" (now corrected above).

Dimensions for video is a requirement before going to production? What happens if dimensions data is not there? Is there a ticket and/or specs for the required data for video? Do we need to remediate the existing accessioned video content so that it works with the new media features before going to production? (This is related to http

[2016-08-16 00:22] LynnMcRae commented on #26
Yes, #107 is where I got my assumptions. I don't know the implications of lack of dimensions (default to 400px tall)?  I also believed the remediation would be something Ben and I could work on if the details are in the technical metadata, but no analysis yet.

[2016-08-16 00:52] LynnMcRae commented on #51
This is my current understanding of what we've decided:

Object thumbs will not be represented in the audio or video display in embed; they will limit themselves to their current role of decorating search results and filmstrips etc. They are however offered for download among the other files in the embed download list.

We do have plans for using image files placed in a resource accompanying a med

[2016-08-16 01:14] ndushay commented on #94
I'm going to close this ticket;  any remaining work will be ticketed separately.

[2016-08-16 01:24] ndushay opened #112 "purl: is_it_working updates"
proxy for sul-dlss/purl#73

can more dependencies be added without causing nagios alerts?

question out on slack to Erin re: what happens in nagios if there is 500 response code

[2016-08-16 01:25] ndushay opened #113 "purl: use shared_configs"
purl should use shared_configs

proxy for sul-dlss/purl#71

[2016-08-16 01:35] ndushay commented on #111
blocked by #98

[2016-08-16 05:34] ndushay commented on #112
Erin Fahy @ndushay: ok - looks like the purl service is
1. currently monitored only by old nagios
2. expecting a valid connection with the `is_it_working` end point so a 500 would trigger a critical nagios alert.
3. load balanced with the expectation of a 200 from `is_it_working` (so a 500 would pull the node out of the pool)

If we want to change those expectations, we can override either check b

[2016-08-16 07:03] ndushay commented on #110
See also #14

[2016-08-16 20:35] ndushay commented on #112
-  want it to return status 200 for load balancer, or fail for hard dependencies only
-  want "soft" dependencies (like was-thumbnail-service) shown in nagios.

related to #645

[2016-08-16 20:41] #94 closed, assigned to ndushay

[2016-08-18 01:22] ndushay opened #114 "purl: do nagios checks need tweaking?"
proxy ticket for sul-dlss/purl#76

[2016-08-18 18:50] jkeck opened #115 "Verify File Name Encoding Consistency Through Stack"
We are seeing some tokens be rejected for files w/ spaces in their titles.  We need to look at the URLs that Embed is sending to wowza and the URLs that wowza is sending to stacks (for token verification).

[2016-08-18 21:23] ndushay opened #116 "purl: use honeybadger instead of squash"
See sul-dlss/purl#72

[2016-08-18 22:19] jkeck commented on #115
See sul-dlss/sul-embed#578 as well.

[2016-08-18 22:20] jkeck commented on #39
@hannahfrost can you clarify what the action item is for this ticket?

[2016-08-18 22:21] jkeck commented on #92
essentially part of testing and/or checklist for testing or production  <-- @ndushay

[2016-08-18 23:43] hannahfrost commented on #39
None! This is moot point, now that we are using IP addresses and not shadownet. Yay.

[2016-08-18 23:43] #39 closed, assigned to hannahfrost

[2016-08-19 00:11] #112 closed, assigned to ndushay

[2016-08-22 18:58] ndushay commented on #111
Per @tingulfsen  it would be good to create this before Erin does wowza upgrade via puppet, to ensure we maintain our wowza configs across puppet upgrades of wowza.

[2016-08-22 18:58] ndushay commented on #111
See also sul-dlss/dlss-wowza #8:  make sure we block request types we don't handle.

[2016-08-22 19:02] ndushay commented on #40
@jkeck should this ticket be closed, or should documentation be added to media wikis or devopsdocs ?

[2016-08-22 23:44] ndushay commented on #97
filed SAR-3220.

[2016-08-23 00:10] ndushay commented on #115
Note this:  https://github.com/sul-dlss/digital_stacks_rails/commit/287304de5adb0f5190fce79f2b1c4d97d9b711e7

I'm wondering if periods and other special chars in the stream name need to be properly encoded in the verify_token request params?

[2016-08-23 21:45] ndushay commented on #111
filed SAR-3221  to have "/stacks" mount point created on sul-wowza-prod.

[2016-08-23 21:53] ndushay commented on #111
application set up, but can't be tested until SAR-3221 is completed.

[2016-08-23 21:54] ndushay commented on #111
Note also sul-dlss/media#40:  let's make sure we really do need CORS headers for HLS before we set them up?

[2016-08-23 22:48] jkeck commented on #115
Immediate issue has been addressed.  More validation will happen in sul-dlss/sul-embed#578

[2016-08-23 22:50] #115 closed, assigned to jkeck

[2016-08-23 22:59] hannahfrost opened #117 "document procedure for managing controlled access locations"

[2016-08-23 23:07] ndushay commented on #110
sul-embed should be checking for permissions before user sees flash player part ... but perhaps someone will get to this ...

[2016-08-23 23:08] ndushay commented on #14
sul-embed should be handling this gracefully, tho there may be exception cases

[2016-08-23 23:10] hannahfrost commented on #110
And then the default player error message shows, and we wonder if that is acceptable to users.  We could contrive this exception and get input from @jvine or evaluate it in the event it happens in production.

[2016-08-23 23:14] ndushay commented on #108
cross-browser testing service won't work due to VPN needed for testing.

[2016-08-23 23:15] ndushay commented on #108
aren't aware of tool we can use.  Closing in favor of #92

[2016-08-23 23:16] #108 closed, assigned to nobody

[2016-08-24 18:42] ndushay commented on #111
SAR-3221 done;  confirmed that stacks app, without dlss-wowza plugin, can play bd/786/fy/6312/mp4:bd786fy6312_sl.mp4

[2016-08-24 18:42] #111 closed, assigned to ndushay

[2016-08-24 22:31] LynnMcRae commented on #69
While we found a few presentation anomalies and a flash player issue for separate tickets, the location rights interpretation was spot on for files, images, video, audio and download. The test objects page has been broupght up to date. Closing this ticket

[2016-08-24 22:31] #69 closed, assigned to LynnMcRae

[2016-08-24 23:50] ndushay opened #118 "document CORS header settings required by Wowza application"
Getting CORS headers set up so sul-embed app can play media in wowza is a bit tricky.  This should be documented, probably in one or both of these places:
- DevOpsDocs https://github.com/sul-dlss/DevOpsDocs/blob/master/projects/media/wowza/wowza_server_checklist.md
- https://github.com/sul-dlss/dlss-wowza README)

We seem to need both the CORS headers option set and the property /Root/Application/

[2016-08-25 22:16] ndushay opened #119 "document: Wowza app changes must be in puppet"
Given our approach to have puppet easily able to upgrade wowza without disrupting our wowza applications (sul-streaming, stacks), our app configuration files are now in puppet.

We need to document (DevOpsDocs, dlss-wowza README, other?) that updates to these application.xml files must happen as a puppet PR.  Changes made via the wowza engine manager GUI may get overwritten by puppet.

[2016-08-25 22:19] ndushay commented on #119
Files in puppet:
- Server.xml
- VHosts.xml
- log4.properties

application specific Application.xml for
- stacks
- sul-streaming

[2016-08-31 00:26] hannahfrost opened #120 "Update SMPL's pre-assembly script to support image thumbs in media objects"
SMPL uses a script to generate a manifest about content to be accessioned. In order to take advantage of new image thumb functionality for media objects, the script should be updated.

Link to documentation about the script is here: https://consul.stanford.edu/pages/viewpage.action?pageId=136365158#AutomatedAccessioningandObjectRemediation(pre-assemblyandassembly)-SMPLContent

[2016-08-31 00:29] hannahfrost commented on #120
@peetucket I mentioned that I would dropping this ticket in DEVQUEUE, but thought it wiser to put it in the media github backlog.

[2016-08-31 00:59] blalbrit commented on #120
I _think_ the work to be done is in the pre-assembly code-base: https://github.com/sul-dlss/pre-assembly/blob/ea3c4e5580fbdc773eff2a272a4aa85d5924e391/lib/pre_assembly/smpl_precontent_metadata.rb

If possible, it would be awesome if @peetucket could pair with someone on this so we get more eyes on that code base?

[2016-08-31 01:17] LynnMcRae commented on #93
Good test object -- https://sul-purl-test.stanford.edu/pn861pp0444 -- the second pictures is location protected, the third is location protected with no-download.

[2016-08-31 18:25] peetucket commented on #120
yes, this would happen in the pre-assembly codebase, i'll move it there, connect the pre-assembly project to the media waffle and perhaps this can be addressed by the media team if there  is time this week.  i'd be happy to pair with another developer to spread the knowledge

[2016-08-31 18:27] peetucket commented on #120
moved to https://github.com/sul-dlss/pre-assembly/issues/26

[2016-08-31 18:27] #120 closed, assigned to nobody

[2016-09-01 06:48] ndushay commented on #97
Kam did SAR-3220;  logs are going to kibana;  waiting for confirmation that they are avail in kibana before closing this ticket.

[2016-09-01 17:17] ndushay commented on #97
I'm sure there are more better ways to do this, but so far:
1. go to https://sul-kibana-prod.stanford.edu/
2. select "applogs-beat-\*  (found by expanding "syslog-beat-*" in left nav)
3. in upper right, where it says `last 15 min`, click and select `this month`
4. put something like `host:"sul-wowza-prod.stanford.edu" AND source:"/usr/local/WowzaStreamingEngine/logs/sul-streaming/wowza_sul-streami

[2016-09-01 17:17] #97 closed, assigned to ndushay

[2016-09-02 16:56] ndushay commented on #98
done today thanks to @eefahy !

[2016-09-02 16:56] #98 closed, assigned to eefahy, tingulfsen

[2016-09-06 17:19] LynnMcRae opened #121 "Change location "mus" to "music""
like the title says.

[2016-09-06 20:44] #109 closed, assigned to tingulfsen, jmartin-sul

[2016-09-06 20:44] #103 closed, assigned to hannahfrost

[2016-09-06 20:44] #92 closed, assigned to nobody

[2016-09-06 20:56] ndushay commented on #102
note:  explicitly NOT tying deployment to data remediation.

[2016-09-07 17:07] tingulfsen opened #122 "Windows 10 streaming doesn't work in MS browsers"
Both Internet Explorer 11 and Edge refuse to play any videos or audio. The Sul-Embed IFrame is just a blank rectangle.

Note that this seems to work fine on Windows 7.

[2016-09-07 22:51] tingulfsen opened #123 "Windows 10 video streaming pauses"
Internet Explorer 11 seems to pause all videos after playing them for exactly 11 seconds. After that, no further interaction with the video is possible.

Windows 10 64-bit
Internet Explorer 11.0.10586.0

This works fine with Microsoft Edge 25.10586.0.0

[2016-09-07 22:53] ndushay commented on #121
done for sul-stacks-test.   Production configs will be done in one shot.

[2016-09-07 22:53] #121 closed, assigned to ndushay

[2016-09-07 22:54] tingulfsen opened #124 "Audio works with Internet Explorer, but not Microsoft Edge"
Streaming audio works fine with Internet Explorer, but not Microsoft Edge. With Edge, you get the dreaded message: "The media could not be loaded, either because the server or the network failed or because the format is not supported."

Windows 10 64-bit
Microsoft Edge 25.10586.0.0

This works fine with Internet Explorer 11.0.10586.0.

[2016-09-07 22:54] tingulfsen commented on #124
FYI, Internet Explorer defaults to using Flash, which works just fine.

[2016-09-08 18:58] tingulfsen commented on #123
Flash seems to work fine for streaming video both for Edge and IE.

[2016-09-08 19:02] tingulfsen commented on #122
I'm closing this issue now that both of the issues that we originally identified have been resolved:

sul-dlss/digital_stacks_rails#95
sul-dlss/sul-embed#694

#123 and #124 are follow-up issues and still open at this time.

[2016-09-08 19:02] #122 closed, assigned to tingulfsen

[2016-09-08 19:12] ndushay commented on #110
I'm closing this.  If something problematic is discovered that got by our testing, we'll open a new ticket then.

[2016-09-08 19:12] #110 closed, assigned to nobody

[2016-09-08 19:14] ndushay commented on #14
I'm closing this - we'll open a new ticket if something needs tweaking

[2016-09-08 19:14] #14 closed, assigned to nobody

[2016-09-08 19:16] ndushay commented on #18
I'm calling this closed.  We don't seem to be going in this direction at this time, and what we know is already in a wiki

[2016-09-08 19:16] #18 closed, assigned to nobody

[2016-09-08 19:17] tingulfsen commented on #124
Forcing the use of Flash makes both browsers, and Firefox and Chrome, work fine with audio.

[2016-09-08 19:18] tingulfsen commented on #123
Forcing Flash makes Chrome, Edge, IE and Firefox work fine.

[2016-09-08 20:43] tingulfsen commented on #124
Closing in favor of sul-dlss/sul-embed#701.

[2016-09-08 20:43] #124 closed, assigned to nobody

[2016-09-08 20:43] tingulfsen commented on #123
Closing in favor of sul-dlss/sul-embed#701.

[2016-09-08 20:44] #123 closed, assigned to nobody

[2016-09-09 22:07] ndushay commented on #118
I also updated  https://github.com/sul-dlss/media/wiki/CORS-Header-Configurations;  between that and https://github.com/sul-dlss/DevOpsDocs/pull/47, I think we're covered.

[2016-09-13 00:26] ndushay commented on #116
waiting on upgrade to honeybadger account:

[code]

[2016-09-13 01:01] ndushay commented on #116
false alarm -- I needed the TEAM to own the project or be subscribed to it or whatever.

[2016-09-13 19:24] ndushay opened #125 "purl: okcomputer to replace is_it_working"
proxy ticket for https://github.com/sul-dlss/purl/issues/87

See also sul-dlss/purl#76

[2016-09-13 22:51] jmartin-sul opened #126 "create Devops doc for dor_indexing_app"
https://github.com/sul-dlss/dor_indexing_app

[2016-09-13 23:10] #116 closed, assigned to ndushay

[2016-09-13 23:15] #118 closed, assigned to ndushay

[2016-09-13 23:15] #119 closed, assigned to ndushay

[2016-09-13 23:27] ndushay opened #127 "purl: update deploy scripts"
See https://github.com/sul-dlss/purl/issues/88

[2016-09-13 23:45] #127 closed, assigned to ndushay

[2016-09-14 00:30] ndushay opened #128 "user advocates ready for honeybadger to replace squash"
per conversation at standup, we need to be sure
- [ ] squash users can see what they need in honeybadger
- [ ] squash users are notified when change happens

(this ticket is a reminder, in case the intent gets lost)

[2016-09-14 18:25] ndushay opened #129 "okcomputer: upstream PRs"
two PRs to okcomputer to add directory check and mailer check (which are avail in is_it_working)

[2016-09-15 22:28] ndushay commented on #129
- [x] add ping-check (sportngin/okcomputer/pull/113)
  - [x] add mailer check (sportngin/okcomputer/pull/116)
- [x] add directory check (sportngin/okcomputer/pull/115)
- [ ] fix cache-check so it doesn't silently pass (sportngin/okcomputer/pull/111)
- [ ] update app_version_check to work for Cap 3 (sportngin/okcomputer/pull/112)
- [ ] better indications of optional checks (sportngin/okcomputer/pul

[2016-09-16 20:33] ndushay opened #130 "UAT preparation checklist"
- [ ] determine which purl box will be test environment  (purl-test?  with stacks-test?  and embed-stage?)
- [ ] do we have sufficient objects in stacks-test / purl-test pieces for UAT?
- [ ] Hannah (?) sends  email coordinates with testers:   what to test, which objects in test system are avail, how to give feedback, deadline ...
- [ ] fix thumbnails showing access restriction messages incorrectl

[2016-09-19 20:39] ndushay commented on #129
when all these are added and a gem released, update
(made issues in the appropriate projects below for these to do items.)
- [ ] purl okcomputer initializer
- [ ] stacks okcomputer initializer
- [ ] sul-embed okcomputer initializer

[2016-09-20 22:50] LynnMcRae opened #131 "Add location and no-download options to Argo rights-setting tools"
Proxy ticket for https://github.com/sul-dlss/argo/issues/796

[2016-09-22 22:54] LynnMcRae opened #132 "Argo: Release To facet has false values (proxy ticket)"
This is a proxy ticket for sul-dlss/dor-services#234

[2016-09-22 23:58] ndushay commented on #125
sul-dlss/purl#87 is done, so I'm closing this one.

[2016-09-22 23:58] #125 closed, assigned to ndushay

[2016-09-26 17:10] tingulfsen opened #133 "Add modsulator-app link to Argo DevOpsDocs"
There is a section on dependencies in the Argo DevOpsDocs. That section should get a link to the modsulator-app DevOpsDocs when both of them have complete docs (see the PRs sul-dlss/DevOpsDocs#59 and sul-dlss/DevOpsDocs#61).

[2016-09-26 22:40] ndushay commented on #130
Since we're actually in UAT now, I'm closing this ticket entitled "UAT preparation checklist"

[2016-09-26 22:40] #130 closed, assigned to nobody

[2016-09-26 23:09] ndushay opened #134 "argo: switch to okcomputer"
proxy ticket for https://github.com/sul-dlss/argo/issues/801

[2016-09-27 20:44] hannahfrost opened #135 "add documentation to DevOps/media about libstream.stanford.edu"
libstream is the encoder that supports streaming audio on Riverwalk Jazz website.

Rob Smith and Hannah discussed and will do it.

[2016-09-27 20:52] hannahfrost opened #136 "Prepare close-out checklist"

[2016-09-27 20:54] hannahfrost commented on #136
Like this one: https://consul.stanford.edu/pages/viewpage.action?pageId=151030108

Include things like:
Wind-Down Check List
Release to Production checklist (mktg, service readiness & stakeholder readiness)
DevOps docs
Wind-down Deck
Tickets / backlogs get a final grooming
Proactive mktg and outreach to known (and unknown) interested parties
To Do: Start a companion check list in Google Docs or Co

[2016-09-28 19:43] #104 closed, assigned to jmartin-sul

[2016-09-28 20:13] #105 closed, assigned to tingulfsen

[2016-09-28 22:35] #113 closed, assigned to jkeck

[2016-09-29 22:04] #102 closed, assigned to nobody

[2016-09-29 22:25] peetucket opened #137 "Produce metrics for the sustainable traffic on media objects"
Load testing...requires a further discussion of how to do correctly and which tools to use.  We should standardize across projects.

[2016-10-04 21:18] LynnMcRae commented on #93
Note, the analysis for IIIF Manifest changes has been moved to https://consul.stanford.edu/display/digistacks/Adding+location+restrictions+to+the+image+IIIF+Manifest

[2016-10-06 23:24] jmartin-sul commented on #132
PR for the dor-services part:  https://github.com/sul-dlss/dor-services/issues/240

once that's merged, we can cut a new dor-services release, and upgrade argo to use the latest dor-services.

[2016-10-07 03:50] jmartin-sul commented on #132
dor-services PR is merged, and dor-services 5.11.1 has been released.  we should also upgrade dor_indexing_app.

[2016-10-07 03:58] jmartin-sul commented on #132
PRs for the argo and dor_indexing_app upgrades:
https://github.com/sul-dlss/argo/pull/825
https://github.com/sul-dlss/dor_indexing_app/pull/35

@LynnMcRae, these branches are deployed to their respective stage instances, and the problem seems to go away for your example druid:  https://argo-stage.stanford.edu/catalog/druid:bb020sf5359

[2016-10-13 20:12] #132 closed, assigned to jmartin-sul

[2016-10-13 20:14] #88 closed, assigned to hannahfrost

[2016-10-13 20:15] #129 closed, assigned to ndushay

[2016-10-13 20:19] ndushay commented on #129
closed not because upstream PRs are resolved, but because it's not really a media issue given media project ending.

[2016-10-13 20:30] #51 closed, assigned to nobody

[2016-10-14 21:02] #133 closed, assigned to tingulfsen

[2016-10-17 23:52] hannahfrost commented on #93
@LynnMcRae I will take over this ticket and ask @jvine to advise on any design changes to support this work.

[2016-10-19 05:29] hannahfrost commented on #136
I started a Work Cycle Close Out Checklist here: https://consul.stanford.edu/display/DSG/Work+Cycle+Close+Out+-+Checklist

[2016-10-19 23:18] #136 closed, assigned to hannahfrost

[2016-10-20 16:32] hannahfrost commented on #131
@jmartin-sul Yesterday I spoke with @jvine about this outstanding ticket and she understands that we need this to help close out the media work cycle. Please feel free to work on this as we discussed. If it is taking longer than the estimated 2 days, let us know. Thank you!

[2016-11-02 16:50] hannahfrost opened #138 "Support new location (whitelisted IP address) for location-based content access"
We need to enable location-based access to another workstation; this one is in the Archive of Recorded Sound. Please update the configuration with the following information:

IP address: 171.67.134.179
identifier: ars

[2016-11-02 18:29] LynnMcRae opened #139 "Add new location "ars" to Argo rights pulldown menus"
See https://github.com/sul-dlss/media/issues/138 for definition of new location.  This ticket is about offering it as a choice in Argo.

The choices are defined here ... https://github.com/sul-dlss/dor-services/blob/6f5b2a590c4189f6a5400446f18714ee73f62102/lib/dor/datastreams/rights_metadata_ds.rb#L54-L63

and processed generically here ...  https://github.com/sul-dlss/dor-services/blob/6f5b2a590c

[2016-11-02 18:31] LynnMcRae commented on #139
Ooops, this belongs in Argo project

[2016-11-02 18:31] #139 closed, assigned to nobody

[2016-11-02 22:01] ndushay commented on #138
deployed to -stage and -uat.

[2016-11-03 05:05] ndushay commented on #138
deployed stacks to -prod.   Note that sul-dlss/argo#862   is needed before this is truly finished.

[2016-11-03 20:24] #131 closed, assigned to jmartin-sul

[2016-11-17 18:37] oceanofsound opened #140 "Thumbnails for media files tend to look pixelated"
Not sure why. The jp2s look great on their own after Michael A. creates them, but once they're in embed, there's a noticeable drop in quality. qy650sk8658 is a good example (I can't attach the original jp2 to this ticket).

![screen shot 2016-11-17 at 10 27 24 am](https://cloud.githubusercontent.com/assets/1029087/20402472/b5b5c484-acb1-11e6-9935-2649f463382a.png)

[2016-11-18 22:52] oceanofsound opened #141 "16:9 videos not consistently rendering correctly in embed"
https://purl.stanford.edu/ks116dy4750 (looks good)

vs.

https://purl.stanford.edu/bv797sg9465 (not so good)

The former is a .mov while the latter is a .mp4. techMD for bv797sg9465

  <Width>640</Width>
        <Width>640 pixels</Width>
        <Height>426</Height>
        <Height>426 pixels</Height>
        <Pixel_aspect_ratio>1.185</Pixel_aspect_ratio>
        <Original_pixel_aspect_ratio>1.000

[2016-11-18 23:35] hannahfrost commented on #117
Documented here: https://consul.stanford.edu/pages/viewpage.action?pageId=154502423

[2016-11-18 23:35] hannahfrost commented on #117
@jkeck @LynnMcRae How does this documentation look? Sufficiently complete?

[2016-11-18 23:38] hannahfrost commented on #140
Are the jp2s further processed during accessioning? Would it be better to submit TIFFs and have the thumbnail jp2s producing during assembly? Or is the player doing something funky? Does the player prefer a different image format?

[2016-11-21 21:45] tingulfsen opened #142 "Upgrade Wowza"
Wowza Streaming Engine was recently updated to version 4.6. There is also a Wowza Player that is now available.

We should consider updating the Wowza Streaming Engine at the first good opportunity, and maybe also look into what features the player provides.

[2017-01-25 17:38] hannahfrost commented on #93
Based on my last discussion with @LynnMcRae, the next step is to discuss with Jessie and Peter.

[2017-02-14 21:13] LynnMcRae commented on #138
adding new locations over time is an ongoing concern with separate tickets. Closing this initial implementation ticket since the facility is now in production.

[2017-02-14 21:13] #138 closed, assigned to hannahfrost

[2017-05-09 22:41] hannahfrost opened #143 "test support for more file formats on Wowza"
As video or audio is self-deposited to SDR, it would be useful to know which formats are or are not automatically supported by our Wowza instance. Based on real testing, not just what has been documented by the vendor.

[2017-09-21 23:43] tingulfsen opened #144 "Latest version of Wowza has MP3 problems"
We've updated from Wowza version 4.5.0 to 4.7.1 on the stage server. Videos seem to work fine, but there are problems with streaming MP3 files:

- Safari plays fine
- Chrome plays fine IF you allow [*.]stanford.edu to play Flash
- Opera doesn't work ("No compatible source was found for this media")
- Firefox appears to load the audio and play it OK (looking at the player) but there is no sound.

T

[2017-09-21 23:44] tingulfsen commented on #144
I mentioned this to Jessie and we agreed I should try to dig around/ask in the Wowza forums over the next week or so.

[2017-12-16 00:13] hannahfrost commented on #144
We are systematically replacing accessioned MP3 files with M4A files to get around this matter.

[2017-12-16 00:16] hannahfrost opened #145 "media stacks should be able to deliver content to players other than sul-embed"
By way of the Noh Theater project, we learned that it is not possible to send SDR streaming media to a player other than sul-embed.

Would be nice to have more flexibility for special situations / applications

[2018-02-01 17:54] oceanofsound opened #146 "Upgrade MediaInfo in SMPL's techMD generation script"
Script was originally written by a contractor with AVP (https://www.weareavp.com/) back in 2011. We don't think the MediaInfo component of this script has been updated since then.

Script lives in the smpl folder on lyberservices: /home/smpl/media_md_gen/bin

[2018-02-01 18:19] michaelangeletti opened #147 "16:9 streaming video should appear full frame in sul-embed"
If the default streaming video player has a 16:9 aspect ratio, then any 4:3 source content should appear pillarboxed, as it does in this example:

https://searchworks.stanford.edu/view/yw022qx7774

However, 16:9 video should display full frame. When streaming 1280x720 sized .mp4 video service copies (1.78:1 PAR, 16:9 DAR), media player creates black bars running vertically at left and right edges

[2018-02-01 22:33] hannahfrost commented on #144
consider trying the latest release, 4.7.3

[2018-02-01 22:34] hannahfrost commented on #142
Now at 4.7.3

[2018-02-01 22:44] hannahfrost commented on #140
We picked the safest public version of the images to display.

A IIIF compatible media player could be built to address this.

[2018-02-01 23:03] hannahfrost commented on #93
This work has been addressed in the meantime.

[2018-02-01 23:03] #93 closed, assigned to hannahfrost

[2018-02-01 23:08] hannahfrost commented on #117
Done

[2018-02-01 23:08] #117 closed, assigned to hannahfrost

[2018-02-01 23:09] hannahfrost commented on #134
done

[2018-02-01 23:09] #134 closed, assigned to nobody

[2018-02-01 23:16] hannahfrost commented on #126
Moved this ticket to: https://github.com/sul-dlss/dor_indexing_app/issues/177

[2018-02-01 23:16] #126 closed, assigned to nobody

[2018-02-05 16:56] oceanofsound opened #148 "Error on jt334pp3958 when viewing on iOS mobile browsers"
Discovered by Michael A. Viewing jt334pp3958 on an iOS browser (we checked Chrome and Safari) triggered the following error: 'The media playback was aborted due to a corruptions problem or because the media used features your browser did not support.'

Spot checking other druids from this accessioned batch do not reveal the same error (see: https://jirasul.stanford.edu/jira/browse/LEGACY-3511). Pe

[2018-05-14 17:59] tingulfsen commented on #144
Tony has installed Wowza 4.7.5 in the stage environment. My brief and informal testing shows that the Firefox problem mentioned above seems to be fixed.

[2018-05-14 18:00] oceanofsound commented on #144
That's great news!

[2018-06-19 17:23] hannahfrost commented on #148
@oceanofsound Did we try replacing this mp4 file with a newly created one?

[2018-06-19 17:30] hannahfrost opened #149 "need better understanding of auth check failures so that we can add capacity to monitor for them"
When Wowza and our custom java wowza plug-in fail an authorization check, we don't know why, so it is not monitorable.

We could improve the logging to gather information for analysis of the issue.

[2018-06-19 17:58] oceanofsound commented on #148
We haven't, although I can confirm that it still doesn't work in either of those two browsers.

[2018-06-19 20:58] jkeck commented on #149
It appears that the authorization checks may be failing around here https://github.com/sul-dlss/dlss-wowza/blob/3ad17038486f60852433df4a42e11e2a91291463/src/edu/stanford/dlss/wowza/SulWowza.java#L279-L290

Adding some logging in to know which branch of that logic is failing would be helpful in understanding the nature of the problem.

[2018-08-03 18:31] oceanofsound opened #150 "Media will not stream correctly on Windows 10 browsers"
When we presented Henry Lowood with four PURLs to check out, he reported the following:

In Edge browser: Players shows a static frame with message, “no compatible source was found for this media.” Checked all four interviews.
In Chrome browser: Player seems to start and I can see and advance progress bar, but no video. After moving the progress bar a couple of times, the transcript (!) shows in t

[2018-08-04 21:44] peetucket commented on #150
I did not have this experience on my personal Windows 10 tablet running at home.  Video worked as expected with progress bars and audio on Chrome and Opera for me.  In Edge, the audio worked fine, but there was no progress and the video was replaced with a sort of slideshow (like 1 frame every few seconds).  I am running latest Windows 10 and latest version of all browsers.

[2018-08-07 16:08] oceanofsound commented on #150
Good to know. I'll see if Henry's personal computer (assuming he's on Windows 10) is similarly successful at viewing streaming media.

[2018-08-16 16:19] oceanofsound commented on #150
Follow up from Henry: "I checked Morgan and Carter at home on a W10 PC, desktop with Ethernet connection. Edge was the same as on campus – “no compatible media” error showing in player. BUT: Chrome worked fine: video and audio, synced; progress bar; static images popping up. Beats me why this would be."

[2018-11-02 16:40] peetucket opened #151 "Stanford only login link doesn't disappear after authenticating"
Visit a video that requires stanford auth to view in a browser that is not already authenticated, e.g. : https://purl.stanford.edu/tx321yn8364

Click the red link to go through auth and start playing.  The video is able to play, but the red "login to play" link does not go away (it correctly does not show on page reload, or if already authed before getting to the page).

[2018-11-07 22:19] tingulfsen commented on #144
Wowza has been upgraded to 4.7.6.

[2018-11-07 22:19] #144 closed, assigned to tingulfsen

[2019-01-14 21:50] hannahfrost commented on #151
This behavior is apparently only occurring on objects that do not allow download.

[2019-01-14 21:56] hannahfrost opened #152 "Should Stanford-only access be indicated after authentication?"
Current behavior: unauthenticated user sees message in the sul-embed media window that Stanford affiliates can log in to access the media.

After log-in, there is no persistent indicated anywhere that it is restricted to Stanford unless there is a file available for download to Stanford users. In this case, the little red S appears next to the downloadable file in the collapsed file pane.

If the

[2019-10-03 20:18] oceanofsound opened #153 "Media player should allow for sequential playback of audio tracks/videos without user intervention"
Ray Heigemeir is interested in re-building the media portion of this site:

https://library.stanford.edu/music/collections/organ-works-johann-sebastian-bach/organ-works-johann-sebastian-bach-part-i

However, our existing player does not offer the functionality he needs. A user navigating a multi-part work (i.e. a recital, album, video with many parts, etc.) has to click through to each part. Our p

[2020-04-03 20:53] oceanofsound commented on #151
This bug still exists, although I believe the link will disappear if you come to a resource already authenticated. Still, it comes and goes, and with our resources getting more eyeballs, I could foresee questions about it.

[2020-04-03 21:10] oceanofsound opened #154 "Playback timeline bar is obscured in Safari 13.0.5 on video objects"
In the newest version of Safari on MacOS, video objects do not have a playback bar that's visible, which means a user can't shuttle through a resource. Rights don't appear to matter, e.g.

https://purl.stanford.edu/sr117nq6196 (Stanford resource)
https://purl.stanford.edu/bb025pz8001 (world resource)

Audio objects look to be ok, and Safari on iOS does show a playback bar.

[2020-04-03 23:18] jkeck commented on #154
@oceanofsound can you submit a screenshot?  I do see a bug that needs to be addressed w/ the height of the video viewers (that was caused by some recent changes), but I do see the playback bar so I want to make sure the fix I implement actually addresses the issue you're seeing.

<img width="755" alt="bb025pz8001-before-safari" src="https://user-images.githubusercontent.com/96776/78411762-9eb6ab00

[2020-04-10 01:35] jkeck commented on #154
@oceanofsound can you verify that this was fixed and comment/re-open if you're still experiencing the same problem?  Thanks!

[2020-04-10 01:35] #154 closed, assigned to jkeck

[2020-04-10 17:51] jkeck opened #155 "Streaming Service Intermittently Fails to Stream Content"
This is an umbrella ticket to track the intermittent streaming outages we've that has been identified by DLSS staff.  This hasn't been reported by any end users, but we have had at least 2 staff independently verify that the have experienced this error/failure (with stream rejections in the logs backing up the timing).

[2020-04-10 19:29] #151 closed, assigned to cbeer

[2020-04-16 14:31] #128 closed, assigned to nobody

[2020-04-16 20:18] cbeer commented on #142
Looks like we're on 4.7.6.. getting to 4.8 will have to wait for server migrations to come around to this stack.

[2020-04-16 20:18] #142 closed, assigned to nobody

[2020-04-16 20:51] cbeer commented on #145
I've pushed up draft PRs to dlss-wowza and stacks that could allow 3rd party players to stream content through wowza, if that content is world-viewable, however Stanford-only or otherwise restricted content needs to use our player (or, I suppose, authenticate with stacks in the same way our player does).

[2020-04-20 22:39] #140 closed, assigned to nobody

[2020-09-02 18:25] oceanofsound commented on #146
No longer needed since techMD is generated outside of the SMPL accessioning workflow now

[2020-09-02 18:25] #146 closed, assigned to nobody

[2020-11-20 20:23] #150 closed, assigned to nobody

[2020-11-20 20:23] hannahfrost commented on #150
cannot reproduce.

[2021-02-22 23:21] oceanofsound opened #156 "Control bar disappears on audio object with thumb in iOS"
Normally we do not add thumbs to audio objects, but recently we had a request to do so: https://argo.stanford.edu/view/druid:vc092km4494

On iOS 14.4 in both Safari and Chrome the control bar is not visible after playback is started. Shuttling through the resource appears to be impossible.

[2021-02-23 20:00] hannahfrost commented on #156
User reports a similar issue with this video object: https://purl.stanford.edu/tw262dt8340
"I'm getting a strange view of the Taking the Mic video on some, but not all computers.  It looks all crunched up in a very narrow bar (with no ability to manipulate to make larger or access bottom bar controls) on my apple desktop, which is  an IMAC 2019 running macOS Mojave 10.14.6 and Safari 14.0.1 But it

[2021-02-24 01:00] hannahfrost commented on #156
Further investigation shows that the issue does not appear in the viewer in SW, only PURL.
<img width="2186" alt="Screen Shot 2021-02-23 at 12 23 29 PM" src="https://user-images.githubusercontent.com/1801076/108929333-af667a00-75f8-11eb-9e9b-2bd0c780c7ef.png">